.app-modal-wrapper {
  position: fixed;
  top: 0;
  z-index: 1000000;
  background: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  border: 1px solid whitesmoke;
}

.app-modal {
  background: white;
  max-width: 850px;
  margin: auto;
  margin-top: 24px;
}

.app-modal-title {
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.app-modal-content {
  padding: 12px;
  max-height: 600px;
  overflow-y: auto;
}
