<div [class.hide]="!opened" class="app-modal-wrapper">
  <div class="app-modal">
    <button (click)="close()" class="button-link right">
      <span class="fa fa-close"></span>
    </button>
    <div class="app-modal-title">
      {{ title }}
    </div>
    <div *ngIf="!htmlMessage" class="app-modal-content">
      <ng-content></ng-content>
    </div>

    <div *ngIf="htmlMessage" [innerHtml]="htmlMessage" class="app-modal-content">
    </div>
  </div>
</div>
