.select-image {
  display: flex;
}

.select-image-left,
.select-image-right {
  width: 100%;
}

.select-image-right {
  text-align: center;
}

.select-image-actions {
  margin: 8px 0;
}

.select-image-selectable {
  height: 120px;
}

.select-image-selectable:hover {
  cursor: pointer;
  opacity: 0.4;
}

.select-image-selectable.selected {
  border: 2px solid green;
}

.select-image-img {
  position: relative;
  display: inline-block;
}

.select-image-btn {
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  border: 0;
  opacity: 0.5;
}

.select-image-btn:hover {
  cursor: pointer;
  opacity: 1;
}
