<app-modal (openedChange)="triggerOpenedChange($event)"
           [opened]="opened"
           title="Select your Image">
  <div class="select-image">
    <div class="select-image-left">
      <div *ngFor="let model of models" class="select-image-img">
        <img (click)="selectOrDeselect(model.id)"
             [class.selected]="isSelected(model.id)"
             [src]="generateImagePath(model.path)"
             class="select-image-selectable"/>
        <button (click)="removeImage(model.id)" class="select-image-btn">
          <span class="fa fa-remove"></span>
        </button>
      </div>
      <div class="select-image-actions">
        <app-button (click)="handleSelect($event)" [disabled]="!hasSelected()"
                    btnClass="btn btn-primary">Select
        </app-button>
        <div class="select-image-note">
          Max Images : {{ max }}
        </div>
      </div>
    </div>
    <div class="select-image-right">
      <app-upload-image (successUpload)="handleSuccessUpload($event)"></app-upload-image>
    </div>

  </div>

</app-modal>
