<div class="create-my-product">
  <!-- <app-my-products-menu></app-my-products-menu> -->

  <div class="create-my-product-header">
    <span>Jual Satu Barang</span>
    <span>Jual Banyak Barang Sekaligus</span>
    <span>Jual Barang dari Instagram</span>
  </div>
  <div class="input">
    <div class="input-image-my-product">
      <b>Gambar Barang</b>
      <input id="file" name="file" type="file"/>
    </div>
    <div class="input-my-product">
      <div class="input-data-my-product">
        <b>Data Barang</b>
        <p>Nama Barang</p>
        <input name="namabarang" type="text">
        <p>Kategori Barang</p>
        <input name="kategoribarang" type="text">
      </div>
      <div class="detail-my-product">
        <b>Detail Barang</b>
        <p>Harga Satuan</p><span class="span-1">Rp</span>
        <input name="hargasatuan" type="number">
        <p>Perkiraan Berat</p>
        <input name="perkiraanberat" type="number"><span class="span-2">Gram</span>
        <p>Stok</p>
        <input name="stok" type="number"><span class="span-2">Buah</span>
        <p>Pembelian Minimum</p>
        <input name="pembelianminimum" type="number"><span class="span-2">Buah</span>
        <div class="condition-of-product">
          <p>Kondisi Barang</p>
          <input checked name="kondisibarang" type="radio">Baru
          <input name="kondisibarang" type="radio">Bekas
        </div>
      </div>
    </div>
  </div>
</div>

