.create-my-product {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;

  & span {
    font-size: 15px;
    color: gray;
    font-size: 17px;
    font-family: Myriad-Regular;

  }
}

#file {
  width: 90%;
  height: 150px;
  border: 2px dashed gray;
}

.input-image-my-product {
  background-color: rgb(245, 245, 245);
  width: 30%;
  height: 100%;
  padding: 15px;
  margin-top: 20px;
}

.input-my-product {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input-data-my-product {
  background-color: rgb(245, 245, 245);
  margin-top: 20px;
  padding: 15px;
  width: 100%;

  & input {
    margin-bottom: 40px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
  }
}

.input {
  display: flex;
  justify-content: space-between;
}

b {
  font-size: 20px;
  line-height: 50px;
}

.detail-my-product {
  background-color: rgb(245, 245, 245);
  width: 100%;
  margin-top: 20px;
  padding: 15px;

  & input {
    height: 30px;
    width: 20%;
    margin-bottom: 40px;
    padding-left: 10px;
  }
}

.span-1 {
  width: 30px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(206, 206, 206);
  text-align: center;
  font-size: 10px;
  padding: 7px;
}

.span-2 {
  width: 50px;
  border: 1px solid rgb(206, 206, 206);
  text-align: center;
  font-size: 10px;
  padding: 7px;
  left: 57%;
}
