.bestsellers {
  background-color: #ed1f6c;
  padding-top: 5px;
  padding-bottom: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  margin: 0;
  width: 100%;
}

a {
  display: flex;
  align-items: center;
  padding: 5px 15px 2px 15px;
}

span {
  display: flex;
  white-space: nowrap;
  margin-right: 10px;
  align-items: center;
}

h2 {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h3 {
  margin-right: 5%;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
