<div class="bestsellers">
  <div class="container">
    <div class="title">
      <h2 class="basic-color-white">BESTSELLERS</h2>
      <a [routerLink]="'/products/bestsellers'" class="basic-color-white">
        <span>SEE ALL</span><i
        class="fas fa-chevron-right"></i></a>
    </div>
    <div class="item">
      <app-bestsellers-item *ngFor="let content of contents" [productCategory]="content"></app-bestsellers-item>
    </div>
  </div>
</div>