<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">

  <div class="modal-header">
    <h4 class="modal-title">Invert Employee</h4>
    <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="add-currency">

      <app-input #field [value]="content.email" name="email" placeholder="email"
                 type="email"></app-input>

    </div>
    <div class="field-error">
      {{ errorMessage }}
    </div>
    <div class="modal-footer">
      <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab" type="submit">Invert</app-button>
      <button (click)="ngActiveModal.dismiss()" class="btn btn-outline-dark" type="button">Cancel</button>
    </div>

  </div>
</app-form>
<p>
  <ngb-alert [dismissible]="false">
    *employees are people who help the sales process.<br/>
    <strong>how to add employees:</strong>
    <ul>
      <li>Make sure the store is registered</li>
      <li>Make sure the prospective employee is registered with Aimaimai</li>
      <li>Click invert employee, then enter the prospective employee's email (the email registered with Aimaimai).</li>
      <li>done, employees can make transactions such as shop owners</li>
    </ul>


  </ngb-alert>
</p>
