.btn-primary {
  border: none;
}

.add-button {
  margin-top: 20px;
}

ngx-datatable {
  margin-top: 30px;
  margin-left: 20%;
} 
@media only screen and (max-width: 991px) {

  ngx-datatable {
    margin-left: 0;
  }
}