<app-merchant-info [content]="content" [editable]="true"></app-merchant-info>

<button (click)="invertEmployee()" class="btn btn-primary add-button" style="float: right">Invert Employee</button>
<br/>
<br/>

<ngx-datatable
  #table
  (page)="list($event.offset)"
  [columnMode]="'force'"
  [count]='total'
  [externalPaging]="true"
  [footerHeight]="50"
  [headerHeight]="50"
  [limit]="pageSize"
  [offset]="page"
  [rowHeight]="'auto'"
  [rows]='contents'
  class='material'>

  <ngx-datatable-column name="USER NAME">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a class="pointer"
         (click)="viewUser(row.id)">{{ userIdToMap.get(row?.userId)?.firstName}} {{ userIdToMap.get(row?.userId)?.lastName}} </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="USER STATUS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.userStatus }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="CREATED AT">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.createdAt | date }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="STATUS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ getStatusText(row.status) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="ACTIONS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="viewUser(row.id)" class="btn btn-primary pointer add-button" style="margin-top: 0px">View
      </button>
      <button (click)="deleteConfirm(row, deleteContent)" class="btn btn-warning">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>


<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <h5>Do you want to delete {{deleteEmployeeContent?.userId}}) ?</h5>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
