<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">

  <div class="modal-header">
    <h4 class="modal-title">Add Product</h4>
    <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="add-mp__image modal-image">
      <div class="add-mp__upload" style="display: flex">
        <th-upload (file)="addProductImageId($event)" [fileType]="'image/x-png,image/gif,image/jpeg'"
                   *ngIf="productImageIds.length < 4"
                   [valueShown]="false"
                   class=""></th-upload>

        <span *ngFor="let imageId of productImageIds">

         <div class="container">
        <img [src]="fileService.generateImagePathById(imageId)" alt="" class="item" width="100"/>
          <div (click)="removeProductImagId(imageId)"><i class="fa fa-times centered pointer" style="color: red" aria-hidden="true" ></i></div>

          </div>

      </span>

      </div>
    </div>


    <div class="add-mp">

      <div class="field-label">
        Name
      </div>
      <app-input #field [value]="content.name" name="name" placeholder="Product name" type="text"></app-input>

      <div class="field-label">
        Price
      </div>
      <app-input #field [value]="content.price" name="price" placeholder="$" type="number"></app-input>

      <div class="field-label">
        Quantity
      </div>
      <app-input #field [value]="content.quantity" name="quantity" placeholder="0" type="number"></app-input>

      <div class="paf__field">
        <app-section-product-category (addCategoryContent)="addCategoryProduct($event)"></app-section-product-category>
        <ul *ngFor="let category of sectionCategories">
          <li>{{category}}
            <span (click)="removeCategory(category)" class="fa fa-close" style="color: red"></span>
          </li>
        </ul>
      </div>

      <div class="paf__field">
        <div class="field-label"> Description</div>
        <app-ckeditor #field [(value)]="content.description" [config]="ckEditorConfig" name="description">
        </app-ckeditor>
      </div>

    </div>

  </div>
  <div class="field-error">
    {{ errorMessage }}
  </div>
  <div class="modal-footer">
    <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab" type="submit">ADD</app-button>
    <button (click)="ngActiveModal.dismiss()" class="btn btn-outline-dark" type="button">Cancel</button>
  </div>
</app-form>
