
img {
  margin: 20px;
}

.paf__field {
  & ul {
    border-bottom: 1px solid rgb(221, 221, 221);
    display: table;
    padding: 5px 20px 5px 0;
  }

  & li {
    margin-left: 30px;
  }
}

.item {
  margin: 12px;
}


/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
