<div *ngIf="loading" class="block-screen">
  <div>
    <img alt="" class="block-screen-spinner" src="../../../../assets/imgs/Spinner-1s-200px.svg">
  </div>
</div>

<div class="container status-area">
  <div class="row">
    <div class="col-sm-3">
      <div class="status-tracker"><i class="fas fa-check"></i></div>
      <div class="status-tracker-text">ORDER CREATED</div>
    </div>
    <div class="col-sm-3">
      <div class="status-tracker"><i class="fas fa-check"></i></div>
      <div class="status-tracker-text">PROCESSING</div>
    </div>
    <div class="col-sm-3 active">
      <div class="status-tracker">3</div>
      <div class="status-tracker-text">PREPARING TO SHIP</div>
    </div>
    <div class="col-sm-3">
      <div class="status-tracker">4</div>
      <div class="status-tracker-text">SHIPPED</div>
    </div>
    <div class="col-sm-12 status-instruction">
      Your order has been created. Please complete your payment within 72 hours. Otherwise, your order will be
      terminated
    </div>
  </div>
</div>
<div class="order-detail-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 order-maintitle">
        Order Details
      </div>
      <div class="col-sm-6 order-maintitle-r">
        Order Total <span>{{orderPaymentContent?.totalCost | currency:'S$ '}}</span>
      </div>
      <div class="col-sm-12 order-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="order-info-title">
              Order Information
            </div>
            <div class="order-info-body">
              <p class="bold">{{content?.customerName}}</p>
              <p class="bold">Order Id: {{ commontService.shortOrderId(orderId)}}</p>
              <p>Last Updated: {{content?.updatedAt | date}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="order-info-title-r">
              Payment Information
            </div>
            <div class="order-info-body">

              <div *ngIf="orderPaymentContent?.status == 11">
                <button *ngIf="orderPaymentContent?.paymentMethod == 'PAYPAL'" class="button-paypal pointer"
                        (click)="pay(content?.paymentMethodId)">

                </button>
                <p class="sub">expiry date
                  : {{orderPaymentContent.expiryDate | date:'dd/MM/yyyy HH:mm'}}</p>
              </div>

              <div *ngIf="orderPaymentContent?.status != 11">
                <p>Payment Method: <span *ngIf="orderPaymentContent?.paymentMethod == 'PAYPAL'">PayPal</span></p>
              </div>
            </div>
          </div>
          <div *ngFor="let merchant of content?.orderMerchantGroups" class="col-sm-12 order-merchant-area">
            <div class="row order-merchant-head">
              <div class="col-sm-6">
                Merchant: <span>{{merchantMapToId.get(merchant?.merchantId)?.name}}</span>
              </div>
              <div class="col-sm-6 desktop-right">
                Status: <span>{{getStatusTextOrder(merchant?.status)}}</span>
              </div>
            </div>
            <div class="row order-merchant-body">
              <div class="col-sm-8 order-body-left">
                <div *ngFor="let item of merchant.orderItems" class="item-row row">
                  <div class="col-sm-3">
                    <img [src]="fileService.generateImagePathById(item.imageId)" alt="" class="item-img"/>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <p class="product-name">{{item?.productName}} {{item?.description}}</p>
                      <p class="product-qty">Quantity : {{item?.quantity}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="order-detail-transaction-price-item">
                      <span>{{item?.price * item?.quantity | currency:'S$ '}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 order-body-right">
                <div class="right-section">
                  <b>Deliver To</b>
                  <p>{{merchant?.shippingStreetName}}, {{merchant?.shippingUnitNumber}}</p>
                  <p>{{merchant?.shippingCity}}, {{merchant?.shippingCountry}} {{merchant?.shippingPostalCode}}</p>
                  <p>{{merchant?.shippingAddressDetail}}</p>
                </div>
                <div class="right-section">
                  <b>Deliver Via</b>
                  <p>{{merchant?.shipmentMethodId}} - {{merchant?.shipmentCost | currency:'S$ '}}</p>
                  <button *ngIf="merchant.status == 3" class="add-button" style="float: left"
                          (click)="finish(merchant.id)">FINISH
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="order-detail">
  <b class="order-detail-tittle">Transaction Details</b>
  <i class="fa fa-print pointer" aria-hidden="true" style="color: #1a4567; font-size: 25px"
     [routerLink]="'/invoice/'+content?.id"></i>
  <div class="order-detail-header">
    <b>List of Purchases</b>
    <p>STATUS : {{getStatusText(content?.status)}}</p>
  </div>
  <div class="order-detail-transaction">
    <div class="order-detail-transaction-header">
      <div class="order-detail-transaction-order col-sm">
        <p>Order id</p>
        <span>{{ commontService.shortOrderId(orderId)}}</span>
      </div>
      <div class="order-detail-transaction-payment col-sm">
        <p>PAYMENT METHOD</p>

        <div *ngIf="orderPaymentContent?.status == 11">
          <button *ngIf="orderPaymentContent?.paymentMethod == 'PAYPAL'" class="button-paypal pointer" (click)="pay(content?.paymentMethodId)"><img
              src="../../../../assets/imgs/paypal-icon.png" alt="" />
            Proceed to pay with PayPal
          </button>
          <p>expiry date
            : {{orderPaymentContent.expiryDate | date:'dd/MM/yyyy, HH:m'}}</p>
        </div>

        <div *ngIf="orderPaymentContent?.status != 11">
          <i *ngIf="orderPaymentContent?.paymentMethod == 'PAYPAL'" class="fab fa-paypal" style="font-size: 30px;
          color: #002f86">PayPal</i>
        </div>

      </div>
      <div class="order-detail-transaction-name col-sm">
        <p>NAME</p>
        <span>{{content?.customerName}}</span>
      </div>
      <div class="order-detail-transaction-update col-sm">
        <p> LAST UPDATE</p>
        <span>{{content?.updatedAt | date}}</span>
      </div>
    </div>



    <div *ngFor="let merchant of content?.orderMerchantGroups" class="order-detail-transaction-1 row">
      <div class="order-detail-transaction-number col-sm">
        <p>MERCHANT</p>
        <span>{{merchantMapToId.get(merchant?.merchantId)?.name}}</span>
      </div>
      <div class="order-detail-transaction-merchant col-sm">
        <p>SHIPMENT</p>
        <span>{{merchant?.shipmentMethodId}}</span>
      </div>
      <div class="order-detail-transaction-chat col-sm">
        <p>ADDRESS</p>
        <span>{{merchant?.shippingCity}} {{merchant?.shippingCountry}}, {{merchant?.shippingStreetName}},
          {{merchant?.shippingUnitNumber}}, {{merchant?.shippingPostalCode}}, {{merchant?.shippingAddressDetail}}</span>
      </div>

      <div *ngFor="let item of merchant.orderItems" class="order-detail-transaction-items  row">
        <img [src]="fileService.generateImagePathById(item.imageId)" alt="" />
        <div>
          <span>{{item?.productName}}</span>
          <p>Quantity : {{item?.quantity}}</p>
        </div>
        <div class="order-detail-transaction-price-item">
          <span>{{item?.price * item?.quantity | currency:'S$'}}</span>
        </div>
      </div>
      <div class="order-detail-transaction-shipping">
        <div><span>Shipping Cost</span> : {{merchant.shipmentCost | currency:'S$'}}</div>
      </div>
      <span></span>
      <div class="order-detail-transaction-item">
        <div><span>STATUS</span> : {{getStatusTextOrder(merchant?.status)}}
          <button *ngIf="merchant.status == 2" class="add-button" style="float: right" (click)="finish(merchant.id)">FINISH</button></div>
      </div>
    </div>
    <div>
      <div *ngIf="getTotalRule() > 0" class="your-total">
        <span>Your Discount</span>
        <span>-{{getTotalRule() | currency:'S$'}}</span>
      </div>
      <div class="your-total">
        <span>Your total expenditure</span>
        <span>{{orderPaymentContent?.totalCost | currency:'S$'}}</span>
      </div>
    </div>
  </div>
</div> -->
