.order-detail {
  width: 70%;
  position: relative;
  left: 15%;
  margin-bottom: 20px;

  &-tittle {
    line-height: 70px;
  }

  & b {
    font-size: 22px;
  }

  &-header {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(224, 223, 223);
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    & b {
      font-size: 17px;
    }
  }


  &-transaction {
    border: 1px solid rgb(224, 223, 223);
    padding: 20px;
    position: relative;

    &-header {
      display: flex;
      flex-direction: row;
      background-color: rgb(247, 247, 247);
      border: 1px solid rgb(224, 223, 223);
    }

    & p {
      font-size: 12px;
      color: gray;
    }

    & div {
      width: 100%;
    }

    &-1 {
      background-color: rgb(247, 247, 247);
      margin-left: 0px;
      padding-bottom: 10px;
      border: 1px solid rgb(224, 223, 223);
    }

    &-number {
      padding: 20px;
    }

    &-merchant {
      padding: 20px;
    }

    &-chat {
      padding: 20px;
    }

    &-order {
      padding: 20px;
    }

    &-payment {
      padding: 20px;
    }

    &-name {
      padding: 20px;
    }

    &-update {
      padding: 20px;
    }

    &-note {
      padding: 20px;
      background-color: rgb(247, 247, 247);
    }

    &-item {
      padding-left: 10px;

      & span {
        font-size: 13px;
        color: grey;
      }
    }

    &-items {
      padding: 20px;
      width: 300px;
      display: inline-flex;
      justify-content: space-between;
      background-color: rgb(247, 247, 247);
      margin-left: 0px;

      & img {
        width: 50px;
        height: 50px;
      }

      & div {
        border: none;
        width: 80px;
        display: flex;
        flex-direction: column;
      }

      & span {
        line-height: 13px;
        width: 150px;
      }
    }

    &-purchase-status {
      padding: 20px;
    }

    &-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0px;
    }

    &-delivery {
      padding: 20px;
    }

    &-recycling-number {
      padding: 20px;
    }

    &-shipping {
      padding: 20px;
      text-align: right;
    }

    &-estimation {
      padding: 20px;
    }

    &-information {
      padding: 20px;
    }

    &-feedback {
      padding: 20px;
    }
  }
}

.add-button {
  line-height: 30px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px
}

.col-sm {
  border: 1px solid rgb(224, 223, 223);
}

.basic-color-pink {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.total-shopping {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.pointer i {
  font-size: 50px;
}

.button-paypal {
  background-image: url(../../../../assets/imgs/paypal-checkout-button.png);
  background-size: cover;
  border: none;
  width: 258px;
  height: 110px;

  & img {
    width: 30px;
    margin-top: 20px;
  }
}

.your-total {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.block-screen {
  background: none repeat scroll 0 0 black;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &-spinner {
    position: absolute;
    left: 40%;
    top: 40%;
  }
}

//loading
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
  position: relative;
}

.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #f05125;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.status-area {
  margin-top: 30px;
  margin-bottom: 20px;

}

.status-tracker {
  color: #77c985;
  border: 3px solid #77c985;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  padding-top: 5px;
  float: left;
}

.status-tracker-text {
  float: left;
  padding-left: 10px;
  padding-top: 7px;
  color: #999;
  font-weight: 600;
}

.active .status-tracker {
  color: #fff;
  background: #77c985
}

.status-instruction {
  padding: 20px 15% 20px;
  text-align: center;
  border-top: 1px solid #999;
  margin-top: 30px;
  font-size: 0.8em
}

.order-detail-area {
  background: #f8f8f8;
  padding-top: 40px
}

.order-maintitle {
  font-weight: 600;
  font-size: 1.6em;
}

.order-maintitle-r {
  text-align: right
}

.order-maintitle-r span {
  font-weight: 600;
  font-size: 1.4em;
}

.order-body {
  padding: 40px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.order-info-title {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #999;
  padding-left: 0;
  padding-right: 40px
}

.order-info-title-r {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #999;
  padding-left: 0;
  padding-right: 40px
}

.bold {
  font-weight: 600
}

.sub {
  font-size: 0.6em;
  padding-left: 20px
}

.order-merchant-area {
  border: 1px solid #ececec
}

.order-merchant-head {
  background: #f5f5f5;
  padding: 15px;
  font-size: 0.8em
}

.order-merchant-head span {
  font-weight: 600
}

.desktop-right {
  text-align: right
}

.order-merchant-body {
  border: 1px solid #ececec;
  padding: 15px
}

.order-body-left {
  padding-right: 30px
}

.order-body-right {
  border-left: 1px solid #ececec
}

.order-body-right p {
  margin-bottom: 2px
}

.right-section {
  margin-bottom: 20px
}

.item-img {
  width: 100%
}

.product-name {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 5px
}

.product-qty {
  font-size: 0.6em
}

.item-row {
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 0
}

.order-detail-transaction-price-item {
  font-size: 1em;
  font-weight: 600;
  text-align: right
}

.order-detail-transaction-price-item span {
  font-size: 0.6em;

}
