<div class="field">
  <app-input (click)="refreshData($event)" (valueChange)="handleInputValueChange($event)"
             [(value)]="text"
             [class.selected]="value !== null"
             [placeholder]="placeholder"
             type="text"
  ></app-input>
  <div *ngIf="noResultFound" class="search-not-found">
    No Result Found
  </div>
  <div *ngIf="getDataKeys().length !== 0" class="search-dropdown">
    <div (click)="triggerDropdownItemClick(key)"
         *ngFor="let key of getDataKeys()"
         [class.disabled]="isDataDisabled(key)"
         class="search-dropdown-item">
      {{ findItem(key).text }}
    </div>
  </div>
  <div class="field-error">
    {{ errorMessage }}
  </div>
</div>
