<div class="cart-item">
  <div class="cart-item-background">
    <div class="cart-item-header">
      <span [routerLink]="'/merchant/'+content?.merchantId"
            class="pointer">Merchant : {{merchantIdToMap.get(content?.merchantId)?.name}}</span>
    </div>
    <div class="row cart-item-detail">
      <div class="col-sm-4 cart-main-img">
        <img
          [src]="fileService.generateImagePathById(productImageContents.length > 0 ? productImageContents[0].imageId : '0')"
          width="100%" alt="" />

      </div>
      <div class="col-sm-4 cart-main-info-1">
        <div class="cart-item-quantity">
          <span [routerLink]="'/product/'+content?.productId"
                class="pointer">{{productIdToMap.get(content?.productId)?.name}}</span>
          <p>Individual Price:{{content.price | currency:'S$'}}</p>
          <div class="amount-of-purchase">
            <button (click)="decrementItem()">-</button>
            <input min="1" name="Quantity" type="number" value="{{content?.quantity}}"/>
            <button (click)="incrementItem()">+</button>
          </div>

          <p>{{productIdToMap.get(content?.productId)?.quantity}} in stock</p>
        </div>

        <div>
          <ul *ngFor="let item of productAttributes">
            <li>{{item.attributeName}} : {{item.attributeValue}}</li>
          </ul>
          <label>
            <p *ngIf="content.note">note : {{content.note}}</p>
          </label>
        </div>

      </div>
      <div class="col-sm-4 cart-main-info-2">
        <div class="cart-item-price row">
          <b
            class="basic-color-pink col-md-12">{{content.quantity * content.price | currency:'S$'}}</b>
        </div>
      </div>
      <button (click)="deleteCart()" class="removeBtn">x</button>
    </div>
  </div>
</div>
