.cart-item {


  &-background {
    padding-bottom: 5px;
    position: relative;
  }

  &-header {
    background-color: rgb(252, 252, 252);
    padding: 10px;
    height: 50px;
    display: grid;
  }

  &-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  &-detail img {
  }

  &-quantity {
    line-height: 30px;

    .pointer {
      line-height: 1em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    text-align: right;

    & b {
      font-size: 30px;
    }

    & button {
      width: 80%;
      height: 30px;
      font-size: 15px;
    }

    & button:hover {
      cursor: initial;
    }
  }
}

// .cart-item-background:hover {
//   background-color: #fdf2f6;
// }

.cart-item-header {
  background: #ed1f6c;
  color: #fff
}

.cart-item-header p {
  margin-bottom: 0
}

.amount-of-purchase {
  margin-top: 20px;

  & button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffb5d0;
  }

  & input {
    border: none;
    width: 80px;
    height: 40px;
    color: #ed1f6c;
    text-align: center;
  }
}

.cart-item-price {
  position: relative;
}

.removeBtn {
  background: none;
  border: none;
  color: red;
  font-weight: 800;
  font-size: 22px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: auto;
  height: 22px;
  width: 22px;
  line-height: 22px;
}

.cart-item-detail {
  position: relative;
}

.cart-main-img img {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .cart-item-detail {
    margin: 20px 0;
    position: relative;
    width: 100%;
    display: block;
    float: left;
    border-bottom: 1px solid #999
  }
  .removeBtn {
    background: none;
    border: none;
    color: red;
    font-weight: 800;
    font-size: 22px;
    position: absolute;
    top: -15px;
    right: 0;
    width: auto;
    height: 22px;
    line-height: 22px;
  }
  .cart-main-img {
    width: 200px;
    height: 200px;
    float: left
  }
  .cart-main-img img {
    width: 100%
  }
  .cart-main-info-1 {
    width: 70%;
    float: left
  }
  .cart-main-info-2 {
    width: 100%;
    float: left;
    text-align: right
  }
  .acceptrules {
    float: left;
    width: 100%;
  }
  .acceptrules input {
    float: left
  }
}
