.edge {
  margin: 0 15%;
}

.tab {
  background-color: #ed1f6c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 15%;

  & h6 {
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.modal-image {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.input-img {
  margin-top: 20px;

  & input {
    padding-left: 0;
  }
}

.modal-body {
}

.fa-times {
  cursor: pointer;
}

.icon-delete-image {
  position: absolute;
  right: 50%;
  top: 30%;
  font-size: 25px;
}

.images {
  position: relative;
}

@media only screen and (max-width: 600px) {

  .tab {
    padding: 0 5%;
  }

  .edge {
    margin: 0 5%;
  }

  .modal-body {
    padding: 15px 0 0;
  }
}
