<div class="tab">
  <div style="display: flex;" class="pointer">
    <i (click)="viewMerchant()" class="fas fa-arrow-left"></i>
    <h6>{{content?.name}}</h6>
  </div>
  <i (click)="edit = true" *ngIf="!edit"
     class="fas fa-pencil-alt pointer"></i>
</div>
<div class="edge" style="padding-top: 20px">

  <div class="product-discount modal-image">
    <th-upload (file)="uploadImage($event)" [fileType]="'image/x-png,image/gif,image/jpeg'"
               [valueShown]="false"
               class=""></th-upload>
    <div *ngFor="let image of productImages" class="images">
      <img [src]="fileService.generateImagePathById(image.imageId)" alt="" width="100" class="item"/> <i
      class="fa fa-times  icon-delete-image" aria-hidden="true" style="color: red"
      (click)="deleteProductImages(image.imageId)"></i>
    </div>
  </div>

  <div class="modal-body product-info" *ngIf="!edit">

    <table class="table table-striped">
      <tr>
        <td>Name</td>
        <td>:</td>
        <td>
          {{content?.name}}<br/>
          {{content?.chineseName}}
        </td>
      </tr>
      <tr>
        <td>Price</td>
        <td>:</td>
        <td>
          <span>{{getProductPrice() | currency:'S$'}}</span>
        </td>
      </tr>
      <tr>
        <td>Discount</td>
        <td>:</td>
        <td>
          {{content?.discount?.discount}}%
          <button class="btn btn-outline-dark" (click)="setDiscount()"> Change</button>
        </td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td>:</td>
        <td>
          {{content?.quantity}}
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>:</td>
        <td>
          <div [innerHTML]="content?.description | safeHtml"></div>
          <br/>
          <div [innerHTML]="content?.chineseDescription | safeHtml"></div>
        </td>
      </tr>
      <tr>
        <td>Categories</td>
        <td>:</td>
        <td>
          <ul *ngFor="let category of content?.categories">
            <li>{{category?.categoryName}} <i class="fa fa-times" aria-hidden="true" style="color: red"
                                              (click)="deleteProductCategories(category.categoryName)"></i></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Attribute</td>
        <td>:</td>
        <td>

          <button class="btn btn-outline-dark" (click)="addProductMerchantDetail(addProductAttributeModal)">new
            attribute
          </button>

        </td>
      </tr>
    </table>

    <div *ngIf="content.attributes.length >0">
      <table class="table">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Quantity</td>
          <td>Additional Price</td>
          <td>#</td>
        </tr>
        <tr *ngFor="let attribute of content?.attributes">
          <td><img [src]="fileService.generateImagePathById(attribute.image)" width="70" alt=""></td>
          <td>{{attribute.attributeName}} : {{attribute.attributeValue}}</td>
          <td>{{attribute.quantity}}</td>
          <td>{{attribute.additionalPrice | currency}}</td>
          <td>
            <i class="fa fa-times" aria-hidden="true" style="color: red" title="Delete"
               (click)="deleteProductAttributes(attribute.attributeName, attribute.attributeValue)"></i>
          </td>
        </tr>
      </table>
    </div>

  </div>


  <div *ngIf="edit">
    <app-edit-merchant-product (success)="setEdit($event)" [content]="content"></app-edit-merchant-product>
  </div>
</div>

<ng-template #addProductAttributeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-merchant">Add Product Attribute</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-add-product-attribute [productContent]="content"></app-add-product-attribute>

  </div>
</ng-template>
