.my-products-menu button {
  display: flex;
  flex-direction: column;
  width: 130%;
  height: 30px;
  border: none;
  border-right: 1px solid #f7f7f7;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.my-products-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgba(236, 236, 236, 0.938);
}
