<div class="my-products-menu">
  <button [routerLink]="[':id/create']" class="nav-item nav-link-edit">Jual Barang</button>
  <button>Mitra Aimaimai</button>
  <button>Daftar Barang</button>
  <button>Label Barang</button>
  <button>Karyawan Lapak</button>
  <button>Promo Pelapak</button>
</div>
