.faq-header {
  background-color: #fa659c;
  display: flex;
  flex-direction: column;
  padding: 50px;

  & p {
    color: white;
    text-align: center;
    font-size: 25px;
  }

  &-search {
    align-self: center;

    & input {
      width: 500px;
      height: 50px;
    }

    & button {
      position: relative;
      right: 7%;
      width: 40px;
      height: 50px;
      background: transparent;
      border: none;
      color: grey;
    }
  }
}

.faq-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;

  & .tittle {
    font-size: 20px;
    line-height: 80px;
  }

  &-buyer {
    padding-right: 50px;
    border-right: 1px dashed #aaa;

    & .fa-shopping-basket {
      font-size: 30px;
      color: #ed1f6c;
      margin-right: 10px;
    }

    &-detail {
      line-height: 30px;
      background-color: #ffccdf3b;
      display: table;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    &-detail:hover {
      background-color: #ffccdf7c;
    }

    &-list {
      color: #ed1f6c;
    }
  }

  &-merchant {
    margin-left: 50px;

    & .fa-store {
      font-size: 30px;
      color: #ed1f6c;
      margin-right: 10px;
    }

    &-detail {
      line-height: 30px;
      background-color: #ffccdf3b;
      display: table;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    &-detail:hover {
      background-color: #ffccdf7c;
    }

    &-list {
      color: #ed1f6c;
    }
  }
}

.fa-arrow-right {
  margin-left: 10px;
}
