<div class="faq-header">
  <p>We Are Ready To Help You</p>
  <div class="faq-header-search">
    <input placeholder="What do you want to ask?" type="text">
    <button class="submit-search"><i class="fa fa-search"></i></button>
  </div>
</div>
<div class="faq-body">
  <div class="faq-body-buyer">
    <span class="tittle"><i class="fas fa-shopping-basket"></i>About the Buyer</span>
    <p class="faq-body-buyer-detail">Complaints Guide at the Resolution Center</p>
    <p class="faq-body-buyer-detail">example</p>
    <p class="faq-body-buyer-detail">example</p>
    <p class="faq-body-buyer-detail">example</p>
    <p class="faq-body-buyer-detail">example</p>
    <p class="faq-body-buyer-detail">example</p>
    <a href="#" class="faq-body-buyer-list">Lihat Selengkapnya<i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="faq-body-merchant">
    <span class="tittle"><i class="fas fa-store"></i>About the merchant</span>
    <p class="faq-body-merchant-detail">Regular Shipping Service on Aimaimai</p>
    <p class="faq-body-merchant-detail">example</p>
    <p class="faq-body-merchant-detail">example</p>
    <p class="faq-body-merchant-detail">example</p>
    <p class="faq-body-merchant-detail">example</p>
    <p class="faq-body-merchant-detail">example</p>
    <p class="faq-body-merchant-detail">example</p>
    <a href="#" class="faq-body-merchant-list">Lihat Selengkapnya<i class="fas fa-arrow-right"></i></a>
  </div>
</div>