.product-might-like {
  margin-right: 5%;
  margin-bottom: 15px;

}

.product-list-horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.product-might-like-detail {
  display: inline-block;
  max-width: 250px;
  padding: 10px;
  min-width: 250px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product-might-like-img img {
  position: relative;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-might-like-img {
  position: relative;
}

.product-might-like {
  margin-top: 50px
}

.basic-color-pink {
  font-size: 13px;
}

.product-might-like-detail p {
  margin-bottom: 2px;
  margin-top: 5px;
  word-wrap: break-word;
  line-height: 1.125rem;
  height: 2.25rem;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.img-item {
  position: relative;
}

.fa-search-plus {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

img {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .product-might-like-detail {
    padding-bottom: 20px;
  }
}
