<div class="product-might-like">
  <b>Product You Might Like</b>
  <div class="product-list-horizontal">
    <ng-container *ngFor="let product of recommendedProducts">
      <div (click)="redirectToProductPage(product.id)" *ngIf="product.id != productId"
           class="product-might-like-detail">
        <div class="product-might-like-img"><img
          [src]="fileService.generateImagePathById(product.images.length > 0 ? product.images[0].imageId : 0)"
          alt="powerbank"></div>
        <p>{{ product.name }}</p>
        <div class="product-might-like-detail-price">
          <h2 class="basic-color-pink">{{ product.price | currency:'S$'}}</h2>
          <i class="fas fa-truck basic-color-pink"></i>
        </div>
      </div>

    </ng-container>

  </div>
</div>
