<app-form #form (successValidation)="edit($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">
  <div class="form-group">
    {{ errorMessage }}
  </div>

  <div class="modal-header">
    <h4 class="modal-title">Edit Address</h4>
    <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="add-currency">

      <app-input #field [value]="content.id" class="" name="id" placeholder="" type="hidden"></app-input>

      <div class="form-control-label">
        City
      </div>
      <app-input #field [value]="content.city" class="fullwidth-field" name="city" placeholder=""
                 type="text"></app-input>

      <div class="form-control-label">
        Country
      </div>
      <app-input #field [value]="content.country" class="fullwidth-field" name="country" placeholder=""
                 type="text"></app-input>

      <div class="form-control-label">
        Street Name
      </div>
      <app-input #field [value]="content.streetName" class="fullwidth-field" name="streetName" placeholder=""
                 type="text"></app-input>

      <div class="form-control-label">
        Unit Number
      </div>
      <app-input #field [value]="content.unitNumber" class="fullwidth-field" name="unitNumber" placeholder=""
                 type="number"></app-input>

      <div class="form-control-label">
        Postal Code
      </div>
      <app-input #field [value]="content.postalCode" class="fullwidth-field" name="postalCode" placeholder=""
                 type="number"></app-input>

      <div class="form-control-label">
        Detail
      </div>
      <app-textarea #field [value]="content.detail" name="detail" placeholder="Detail" type="text"></app-textarea>

      <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab add-button" type="submit">EDIT
      </app-button>

    </div>

  </div>
</app-form>
