<div class="container">
  <div class="row">
    <div class="col-sm-12 new-item">
      <div class="tittle">
        <h1 class="basic-color-pink left-title">WHAT'S NEW</h1><a [routerLink]="'/products'" class="see-all">SEE ALL
        &nbsp;<i class="fas fa-chevron-right basic-color-pink white"></i></a>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let content of contents" class="col-sm-3 new">
        <app-new-item [product]="content"></app-new-item>
      </div>
    </div>
  </div>
</div>
