.new-item {

}

.new:hover {
  border: 1px solid #ed1f6c;
}

.tittle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Myriad-Regular';
}

.new {
  border: 1px solid #fff;
  margin-bottom: 25px
}

h1 {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.see-all {
  color: #fff;
  background: #ed1f6c;
  padding: 5px 15px 2px 15px;
  border-radius: 20px
}

.white {
  color: #fff
}

.left-title {
  padding: 8px 10px 0 0;
}

@media only screen and (max-width: 600px) {
  .new {
    width: 50%;
    float: left
  }
}
