button.disabled {
  opacity: 0.4;
}

button.disabled:hover {
  cursor: no-drop;
}

.button {
  border: 1px solid;
  padding: 12px;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.button-link {
  background: transparent;
  border: 0;
  outline: none;
  font-weight: bold;

}

.button-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.primary {
  background: #ffee61;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid yellow;
}

.blue {
  background: skyblue;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid whitesmoke;

}

.red {
  background: darkred;
  color: darkgray;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid red;

}

.green {
  color: #fff;
  border: 1px solid #55a32a;
  background: #55a32a;
  font-weight: bold;
}

.f24 {
  font-size: 24px;
}

.quantity-btn {
  padding: 6px 8px;
  border-radius: 0;
  background: white;
  height: 100%;
  border: 1px solid lightgray;
}

.main-button {
  text-align: center;
  padding: 8px 50px;
  border: 1px solid #ed1f6c;
  background: #ed1f6c;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 80px;
  transition: 0.5s;
  margin-top: 30px
}

.main-button:hover {
  color: #ed1f6c;
  background: #fff;
  border: 1px solid #ed1f6c;
  transition: 0.5s
}

.button-create {
  color: white;
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  line-height: 25px;
  width: 100%;
}

.button-create:hover {
  color: #ed1f6c;
  background-image: linear-gradient(white, white);
  border: 1px solid #ed1f6c;
}

.add-button {
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  color: white;
  width: 100%;
  border: none;
  height: 100%;
}

.send-button {
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
}

.edit-button {
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  color: white;
}

.add-button:hover {
  color: #ed1f6c;
  background-image: linear-gradient(white, white);
  border: 1px solid #ed1f6c;
}

.send-button:hover {
  color: #ed1f6c;
  background-image: linear-gradient(white, white);
  border: 1px solid #ed1f6c;
}
