.modal-body {
  display: flex;

  & img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.modal-footer {
  & .add-button {
    background-image: linear-gradient(#ed1f6c, #fa95ba);
    border: 1px solid #ed1f6c;
    color: white;
    margin-right: 10px;
  }

  .add-button:hover {
    color: #ed1f6c;
    border: 1px solid #ed1f6c;
    background-image: linear-gradient(#ffffff, #ffffff);
  }
}

h6 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

td {
  width: 80px;
}

.attribute-long {
  width: 140px;
}
