<div class="modal-header">
  <h4 class="modal-title">Add Cart</h4>
  <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="display: flex; flex-direction: column;">

  <div>
    <div>
      <img [src]="fileService.generateImagePathById(content?.images?.length > 0 ? content?.images[0]?.imageId : 0)"
           alt="">
      <span>{{content?.name}}</span>
    </div>

    <hr/>

    <div>
      <h6>Available : </h6>

      <div class="field-area">
        <table>
          <tr>
            <div *ngFor="let attributeName of contentAttributeNames" style="display: flex;">
              <td>{{attributeName}} :</td>

              <span *ngFor="let item of contentAttributes[attributeName]">
                    <td> <input class="checkbox" name="attributeValue" type="checkbox"

                                (change)="getSelected(item.id, $event, item.additionalPrice)"

                    /> {{ item.attributeValue }}</td>
                  </span>
            </div>
          </tr>
        </table>
      </div>


    </div>


    <hr/>
    <span>Price {{content.price + attributePrice | currency}}</span>

  </div>

  <div class="modal-footer">
    <button type="button" class="add-button btn btn-outline-dark" (click)="addToCart()">Add to cart</button>
    <button type="button" class="btn btn-outline-dark" (click)="ngActiveModal.dismiss('cancel')">Cancel</button>
  </div>
</div>
