img {
  padding: 15px;
  width: 110px;
  height: 50px;
  justify-content: center;
  object-fit: contain;
  box-sizing: unset;
}

.popular-item-detail h1 {
  color: white;
  font-size: 20px;
}

.popular-item-detail h3 {
  color: #555555;
  font-size: 90%;
}

.popular-item-detail {
  align-items: center;
}

.popular-item {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 307px;
  height: 80px;
  background-color: #ed1f6c;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}
