<div [routerLink]="'product/'+product.id" class="popular-item pointer">
  <img [src]="fileService.generateImagePathById(imageId)" alt=""/>
  <div class="popular-item-detail">
    <h1>{{product?.name}} </h1>
    <h3>{{product?.quantity}}</h3>
  </div>
</div>
