
app-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.merchantproffile-main-area {
  background: #fff
}

.logo-area {
  padding-left: 55px;
  padding-top: 15px;
  text-align: center;
  padding-top: 50px
}

.background-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 265px;
  overflow: hidden;
}

.background-image img {
  width: 100%;

}

.bg-overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.logo-area .icon-merchant {
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px rgba(104, 104, 104, 0.582);
  border-radius: 100%;
}

.bannerdesc {
  padding-top: 20px;
}

.shop-name b {
  font-size: 25px;
}

@media only screen and (max-width: 1000px) {

  .icon-merchant {
    top: 3%;
    left: 2%;
  }

  .bottom-right {
    font-size: 12px;
    height: 180px;
    overflow: auto;
  }

}

@media only screen and (max-width: 575px) {

  .logo-area{
    padding: 10px 0 0; 
  }

  .bannerdesc{
    padding: 0 10%;
  }

}
