<div class="merchantproffile-main-area">
  <div class="row">
    <div class="background-image">
      <img [src]="_fileService.generateImagePathById(content?.headerImageId)" alt="" class=""/>
      <div class="bg-overlay">
        <div class="row">
          <div class="col-sm-3 logo-area">
            <img [src]="_fileService.generateImagePathById(content?.imageId)" alt="" class="icon-merchant"/>
          </div>
          <div class="col-sm-8 bannerdesc">
            <div class="shop-name"><b>{{content?.name}}</b></div>
            <p [innerHTML]="content?.description | safeHtml"></p>
            <div *ngIf="content?.status == 11" class="status">
              <p>STORE PENDING FOR APPROVAL</p>
            </div>
            <div *ngIf="content?.status == 0" class="status">
              <p>BANNED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <app-products [merchantId]="merchantId"></app-products>
</div>
