<div class="order-detail">
  <b>Transaction Details</b>
  <div class="order-detail-header">
    <b>List of Purchases</b>
  </div>
  <div class="order-detail-transaction">
    <div class="order-detail-transaction-1 row">
      <div class="order-detail-transaction-number col-sm">
        <p>TRANSACTION NUMBER</p>
        <span>181452481986</span>
      </div>
      <div class="order-detail-transaction-merchant col-sm">
        <p>MERCHANT</p>
        <span>Aimaimai</span>
      </div>
      <div class="order-detail-transaction-chat col-sm">
        <a class="basic-color-pink" href="#">Chat Merchant</a>
      </div>
    </div>
    <div class="order-detail-transaction-note ">
      <p>NOTES FOR MERCHANT</p>
      <span>-</span>
    </div>
    <div class="order-detail-transaction-items  row">
      <img src="../../../../../assets/imgs/powerbank.jpg">
      <div>
        <span>Powerbank</span>
        <p>jumlah: 1</p>
        <p>Berat: 100 gram</p>
      </div>
      <span>SG 19.00</span>
      <p><a href="#">Lihat 1 barang lainnya</a><i class="fas fa-chevron-down"></i></p>
    </div>
    <div class="order-detail-transaction-purchase-status">
      PURCHASE STATUS
    </div>
    <div class="order-detail-transaction-2  row">
      <div class="order-detail-transaction-delivery col-sm">
        <p>DELIVERY SERVICE</p>
        <span>Aimaimai</span>
      </div>
      <div class="order-detail-transaction-recycling-number col-sm">
        <p>RECYCLING NUMBER</p>
        <span>Aimaimai</span>
      </div>
      <div class="order-detail-transaction-shipping col-sm">
        <a class="basic-color-pink" href="#">Shipping History</a>
      </div>
    </div>
    <div class="order-detail-transaction-estimation">
      <p>ESTIMATION OF ITEM UNTIL</p>
      <span>Selasa, 27 November 2018, 11:22 WIB</span>
    </div>
    <div class="order-detail-transaction-information">
      <p>INFORMATION</p>
      <span>Barang telah diterima pada Senin, 26 November 2018 pukul 19:11 WIB.</span>
    </div>
    <div class="order-detail-transaction-feedback">
      <p>FEEDBACK</p>
      <span>Kamu memberikan feedback positif 
          ‟Packing Baik. Recommended Seller. Cepat Sampai. Barang Sesuai Pesanan”</span>
    </div>
  </div>
</div>
