<h2 *ngIf="contents">Create your own store, and sell your goods easily and safely</h2>
<div *ngIf="!merchantIsRegistered()" class="text-center my-stores__register">
  <b>Register your account as a merchant</b>
  <p>Start selling your products with us</p>
  <button class="btn btn-primary" (click)="registerAsMerchant()">Register as merchant</button>
</div>


<div *ngIf="merchantIsRegistered()">

  <div style="text-align: center">
    <button [routerLink]="'/my-store/create'" class="btn btn-outline-primary item create-button">Create Store</button>
    <div class="store-list">
      <div *ngFor="let content of contents" class="item">

        <div [routerLink]="'get/'+content.id" class="pointer">
          <img [src]="fileService.generateImagePathById(content.imageId)" style="width: 100px"/>
          <p>{{content.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls *ngIf="total > 10" id="profile-pagination" (pageChange)="list($event)" maxSize="pageSize"
                       directionLinks="true"
                       previousLabel="<"
                       nextLabel=">" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>
