.store-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  padding: 12px;
}

h2 {
  color: #141414;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
  margin-top: 50px;
}

p {
  color: #141414;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

.my-stores {
  &__register {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    background: url(../../../../assets/imgs/background-merchant.jpg) no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    padding-top: 10%;

    & b {
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    & p {
      font-size: 20px;
    }
  }
}

button {
  color: white;
  background-color: transparent;
  border: none;
  line-height: 30px;
  width: 200px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 25px;
  border: 3px solid #ed1f6c;
  background-color: rgba(255, 255, 255, 0.26);
}

button:hover {
  background-image: linear-gradient(#ffffff, #ffffff);
  color: #ed1f6c;
  border: 3px solid #ed1f6c;
}

.create-button {
  color: white;
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  border: none;
}

.create-button:hover {
  color: #ed1f6c;
  background-color: white;
  background-image: none;
  border: 3px solid #ed1f6c;
}