<div class="my-products">
  <app-my-products-menu></app-my-products-menu>

  <div class="daftar-barang">
    <span>Barang Dijual</span>
    <span>Barang Tidak Dijual</span>
    <span>Barang Draf</span>
  </div>
</div>
