.my-products {
  display: inline-flex;
  margin-left: 5%;
}

.daftar-barang {
  width: 80%;
  font-size: 20px;
  margin: 12px 40px;
}

.daftar-barang span {
  font-family: Myriad-Regular;
  margin-left: 15px;
  font-size: 15px;
  color: gray;
}
