<div class="image-upload">
  <label for="file-input">
    <img alt="" class="pointer" src="../../../assets/add-picture-icon-13.jpg" title="add image" width="100"/>
  </label>
  <!--<input id="file-input" type="file"/>-->
  <input #file (change)="upload()" *ngIf="value == null || !valueShown" accept="{{fileType}}" id="file-input"
         type="file" width="100%"/>
</div>

<div *ngIf="value && valueShown" class="exist">
  <a [href]="getFileUrl()" download>{{ value }}</a>
  <button class="fa fa-remove" type="button" (click)="setValue(null)">Delete</button>
</div>

<img *ngIf="value && valueShown" class="cursor" [src]="_fileService.generateImagePathById(value)" width="200" alt=""/>
