.fa-remove {
  margin-left: 10px;
  width: 80px;
  height: 25px;
  color: white;
  background-image: linear-gradient(#ed1f6c, #fa95ba);
}

.exist {
  background-color: red;
}

.image-upload > input {
  display: none;
}
