<div class="terms body">
  <b>Usage Rules of Aimaimai.com</b>
  <div class="terms-search-field"><i class="fa fa-search"></i><input placeholder="What are you looking for?"
                                                                     type="text"></div>
  <p class="terms-tittle">General information</p>
  <ul>
    <li>Aimaimai as a business support tool strives to provide various features and services to ensure the safety and
      comfort of its users.
    </li>
    <li>Aimaimai does not act as Pelapak Barang, but as an intermediary between Pelapak and Buyer, to secure every
      transaction that takes place
      within the Aimaimai platform through the Aimaimai Payment System mechanism. The existence of extra costs
      (including taxes and other fees)
      for all transactions that occur at Aimaimai is outside the authority of Aimaimai as an intermediary, and will be
      managed by the parties
      concerned (either Pelapak or Buyers) in accordance with applicable provisions in Indonesia.
    </li>
    <li>exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple
      exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple exemple
    </li>
  </ul>
</div>
