.terms {
  display: flex;
  flex-direction: column;

  & b {
    font-size: 25px;
    line-height: 70px;
    border-bottom: 1px solid rgb(172, 172, 172);
    margin-bottom: 20px;
  }

  &-tittle {
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  & li {
    margin-bottom: 20px;
  }

  & ul li {
    line-height: 30px;
    margin-left: 20px;
  }
}

.fa-search {
  position: relative;
  left: 2%;
}

input {
  width: 98%;
  height: 40px;
  padding-left: 25px;
  background-color: rgba(235, 233, 233, 0.096);
}
