<app-merchant-info [content]="content" [editable]="true"></app-merchant-info>

<button *ngIf="merchantContent?.status === 10" (click)="addProduct()" class="btn btn-primary add-button"
        style="float: right">Add Product
</button>
<br/>
<br/>

<ngx-datatable
  #table
  (page)="list($event.offset)"
  [columnMode]="'force'"
  [count]='total'
  [externalPaging]="true"
  [footerHeight]="50"
  [headerHeight]="50"
  [limit]="pageSize"
  [offset]="page"
  [rowHeight]="'auto'"
  [rows]='contents'
  class='material'>

  <ngx-datatable-column name="PRODUCT NAME">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="product-table">
        <img [src]="fileService.generateImagePathById(row?.images?.length > 0 ? row.images[0]?.imageId : 0)" alt=""
             width="50 ">
        <a class="pointer name-product" (click)="viewProduct(row.id)">{{ row.name }}</a>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="CREATED AT">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.createdAt | date }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="STATUS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ getStatusText(row.status) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="ACTIONS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="viewProduct(row.id)" class="btn btn-primary add-button" style="margin-top: 0px">View</button>
      <button class="btn btn-warning" (click)="deleteProductConfirm(content, row)">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Do you want to delete {{deleteContent?.name}} ({{deleteContent?.chineseName}}) ?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
