.pointer {
  margin-left: 10px;
}

.add-button {
  background-image: #ed1f6c;
  color: white;
  border: none;
  margin-top: 20px;
}

.product-table {
  display: flex;

  & img {
    height: 50px;
    width: 50px;
  }
}

ngx-datatable {
  margin-top: 30px;
  margin-left: 20%;
}

@media only screen and (max-width: 600px) {

  .product-table {
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 991px) {

  ngx-datatable {
    margin-left: 0;
  }
}
