.header-right {
  display: flex;
  flex-direction: row;
}

.yellow-header-color {
  color: #f79f45;
  margin-right: 10px;
}

.white-header-color {
  color: white;
  margin-right: 10px;
}

.item {
  padding-right: 12px;
}

.header {
  border-bottom: none;
}

button {
  cursor: pointer;
  border: none;
}

.header {
  width: 100%
}

.basic-background-color {
  display: flex;
  justify-content: space-between;
  font-family: 'Myriad-Regular';
  color: white;
}

.mobile-only {
  display: none
}

.top-left {
  color: #fff;
  text-align: left;
  padding: 10px 0;
  float: left;
  display: flex;
}

.top-right {
  float: left;
  text-align: right;
  padding: 10px 0
}

.top-left p {
  margin-bottom: 0
}

.top-login a {
  color: #fff;
  border-bottom: none;
}

.top-login span {
  padding: 0 5px
}

.top-login a:hover {
  color: #fff;
  text-decoration: underline
}

.right-header a {
  color: #fff;
  border-bottom: none;
}

.right-header .yellow {
  color: #fac739;
  font-weight: 800
}

.right-header i {
  margin-left: 10px
}

.account-link {
  color: #fac739;
  border-bottom: none;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;

  & a {
    border: none;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 16;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 21px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 350px;
  height: 100%;
  margin: 0 0 0 -50px;
  top: 0;
  padding: 80px 00px 80px 40px;
  padding-top: 25px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  background: #3f4758
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.dropdown {
  overflow: hidden;
  font-family: 'Myriad-Regular';
  background-color: #f7f7f7;
  border: 1px solid #ed1f6c;
  height: 40px;

}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: black;
  text-transform: capitalize;
  padding: 10px 15px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-shopping-cart {
  font-size: 20px;
  color: #ed1f6c;
  align-content: center;
  display: grid;
  margin-top: 35px
}

.search-bar {
  position: relative;
}

input {
  height: 40px;
  width: 500px;
  border: 1px solid #ed1f6c;
  padding-left: 10px;
}

.fa-search {
  border: 1px solid #ed1f6c;
  align-content: center;
  display: grid;
  justify-content: center;
  background-color: #ed1f6c;
  color: white;
  width: 50px;
  height: 40px;

}

.fa-caret-down {
  color: #ed1f6c;
}

.search-container {
  width: 100%;
  margin-top: 25px
}

.search-container input {
  width: 100%;
}

.desktop-only {
  p {
    margin: 0;
  }
}

.search-container .dropdown {
  float: left;
}

.search-container button {
  float: left;

}

.search-container .search-parameter {
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px
}

.mobile-cart .fa-shopping-cart {
  color: #fff;
  margin-top: 0;
  font-size: 20px
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-text {
  justify-content: space-evenly;
  display: flex;
}

#menu {
}

@media only screen and (max-width: 600px) {

  input {
    width: 130px;
    margin-right: 0px;
  }
  .search-bar {
  }
  .fa-bars {
    color: white;
  }
  .dropbtn {
    display: none
  }

  .fa-times {
    background-color: transparent;
    position: absolute;
    right: 5%;
    top: 1%;
  }
  .mobile-only {
    display: block
  }
  .desktop-only {
    display: none;
  }
  .basic-background-color {
    height: 35px;
  }
  .sidebar-top {
    margin-top: 15px;
    border-bottom: 2px solid #525a71;
    padding: 0 40px 25px
  }
  .sidebar-top-btn {
    background: #cb719e;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 5px
  }
  #menu li {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #525a71;
    color: #fff;
    position: relative
  }
  #menu li:active::before {
    content: "";
    height: 65px;
    width: 5px;
    background: #cb719e;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none
  }
}

@media only screen and (min-width: 900px) {
  mat-sidenav-container {
    visibility: hidden;
  }
}

