<!-- <div class="header">
  <div class="basic-background-color" style="display: flex; justify-content: space-between; padding: 2px 0">
    <div style="margin-left: 20px">
      <div *ngIf="_authService.loggedIn()" class="yellow-header-color" style="display: flex">
        <span [routerLink]="'/'" class="item">Hi! </span>
        <div class="item" ngbDropdown>
          <a class="pointer" ngbDropdownToggle>{{_authService.getUserInfo().firstName}}
            {{_authService.getUserInfo().lastName}}</a>
          <div aria-labelledby="dropdownBasic1" ngbDropdownMenu style="background-color: #ed1f6c">
            <button [routerLink]="'/profile'" class="dropdown-item">My Profile</button>
            <button [routerLink]="'/my-store'" class="dropdown-item">My Store</button>
            <button (click)="_authService.logout()" class="dropdown-item">Logout</button>
          </div>
        </div>
        <i class="fab fa-weixin white-header-color"></i>
      </div>
      <span *ngIf="!_authService.loggedIn()" class="white-header-color">
        <a [routerLink]="'/login'" class="pointer white-header-color">Sign in</a> |
        <a [routerLink]="'/register'" class="pointer white-header-color">Register</a>
      </span>
    </div>
    <div class="white-header-color" style="margin-right: 20px;">
      <span class="yellow-header-color pointer">Download Apps</span> |
      <a class="white-header-color pointer">Need Help</a> |
      <span class="white-header-color pointer">Follow Us On</span>
      <i class="fab fa-facebook white-header-color"></i>
      <i class="fab fa-weixin white-header-color"></i>

    </div>
  </div>
</div>


 -->
<div class="header">
  <div class="basic-background-color">
    <div class="container">
      <div class="row mobile-only">
        <nav role="navigation">
          <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <div *ngIf="_authService.loggedIn()">
                <a [routerLink]="'/profile'">
                  <li>My Account</li>
                </a>
                <a [routerLink]="'/my-store/list-store/'">
                  <li>My Store</li>
                </a>
                <a (click)="_authService.logout()">
                  <li>Logout</li>
                </a>
              </div>
              <div *ngIf="!_authService.loggedIn()">
                <div class="sidebar-top">
                  <a [routerLink]="'/register'">
                    <div class="sidebar-top-btn">Join Us Now !</div>
                  </a>
                </div>
                <a [routerLink]="'/register'">
                  <li>Register New Account</li>
                </a>
                <a [routerLink]="'/login'">
                  <li>Login</li>
                </a>
              </div>
              <a href="#">
                <li>Need Help?</li>
              </a>
            </ul>
          </div>
        </nav>
      </div>
      <div class="mobile-cart mobile-only"><i class="fas fa-shopping-cart"></i></div>
      <div class="row desktop-only">
        <div class="col-sm-6 top-left">

          <!--If logged in-->
          <img [routerLink]="''" src="../../../assets/imgs/home.png"
               style="width:50px; height:25px; cursor: pointer; margin-right:10px;">
          <div *ngIf="_authService.loggedIn()">
            <p>Hi {{_authService.getUserInfo().firstName}}
              {{_authService.getUserInfo().lastName}} !
              <a [routerLink]="'/profile'" class="account-link"><i class="far fa-user"></i> My Account</a>
              <span><a [routerLink]="'/my-store/list-store/'" class="account-link">
                    My Store
                  </a></span>
              <span><a (click)="_authService.logout()" class="account-link">
                    Logout
                  </a></span>
            </p>
          </div>
          <!--If logged in end-->


          <!--If not logged in-->
          <div *ngIf="!_authService.loggedIn()">
            <div class="top-login">
              <a [routerLink]="'/login'">Sign in</a><span>|</span><a [routerLink]="'/register'">Register</a>
            </div>
          </div>
          <!-- If not logged in end-->

        </div>
        <div class="col-sm-6 top-right">
          <div class="right-header"><a class="yellow" href="">Download Apps</a> | <a href="">Need Help</a> | Follow Us
            On
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-weixin"></i></div>
        </div>
      </div>

    </div>
  </div>
