<div class="form">
  <app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
            [validationMessages]="getValidationMessages()">
    <div class="field-error">
      {{ errorMessage }}
    </div>

    <app-input #field [value]="content.id" name="id" type="hidden"></app-input>

    <div class="add-currency">

      <div class="field-label">
        Name
      </div>
      <app-input #field [value]="content.name" name="name" placeholder="" type="text"></app-input>

      <!--<div class="field-label">-->
        <!--Chinese Name-->
      <!--</div>-->
      <!--<app-input #field [value]="content.chineseName" name="chineseName" placeholder="" type="text"></app-input>-->

      <div class="field-label">
        Price
      </div>
      <app-input #field [value]="content.price" name="price" placeholder="" type="number"></app-input>

      <div class="field-label">
        Quantity
      </div>
      <app-input #field [value]="content.quantity" name="quantity" placeholder="" type="number"></app-input>

      <div class="paf__field">
        <app-section-product-category (addCategoryContent)="addCategoryProduct($event)"></app-section-product-category>
        <ul *ngFor="let category of sectionCategories">
          <li>{{category}}
            <i (click)="removeCategory(category)" aria-hidden="true" class="fa fa-times" style="color: red"></i>
          </li>
        </ul>
      </div>

      <!--<div class="paf__field">-->
        <!--<app-section-product-attribute-->
          <!--(addAttributeContent)="addAttributeProduct($event)"></app-section-product-attribute>-->
        <!--<ul *ngFor="let attribute of sectionAttributes">-->
          <!--<li>{{attribute?.attributeName}} : {{attribute?.attributeValue}}-->
            <!--<i (click)="removeAttribute(attribute)" aria-hidden="true" class="fa fa-times" style="color: red"></i>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <div class="paf__field">
        <div class="field-label"> Description</div>
        <app-ckeditor #field [(value)]="content.description" [config]="ckEditorConfig" name="description">
        </app-ckeditor>
      </div>

      <!--<div class="paf__field">-->
        <!--<div class="field-label"> Chinese Description</div>-->
        <!--<app-ckeditor #field [(value)]="content.chineseDescription" [config]="ckEditorConfig"-->
                      <!--name="chineseDescription">-->
        <!--</app-ckeditor>-->
      <!--</div>-->

    </div>
    <div class="button-field">
      <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab" type="submit">Edit</app-button>
      <button (click)="cancel()" class="btn btn-outline-dark" type="button">Cancel</button>
    </div>
  </app-form>
</div>
