.search2-dropdown-item {
  padding: 12px;
}

.search2 {
  position: relative;

  &-error {
    display: block;
    border: 1px solid red;
  }
}

.search2-dropdown-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

.search2-dropdown-item.disabled {
  background: darkgray;
}

.search2-dropdown-item.disabled:hover {
  cursor: no-drop;
}

.field {
  position: relative;
  margin: 0;
}

.search2-dropdown, .search2-not-found {
  margin-top: -12px;
  position: absolute;
  background: white;
  width: 100%;
  z-index: 1;
  max-height: 200px;
  overflow: auto;
  border: 1px solid lightgray;
}

.search2-not-found {
  padding: 12px;
}

app-input[class="selected"] > .field > input {
  background: whitesmoke;
}
