<div class="search2">
  <app-input (click)="refreshData($event)" (valueChange)="handleInputValueChange($event)"
             [(value)]="text"
             [class.search2-error]="errorMessage"
             [inputClass]="(value) ? 'input full selected' : 'input full'"
             [placeholder]="placeholder"
             type="text"
  ></app-input>
  <div *ngIf="noResultFound" class="search2-not-found">
    No Result Found
  </div>
  <div *ngIf="getDataKeys().length !== 0" class="search2-dropdown">
    <div (click)="triggerDropdownItemClick(item)"
         *ngFor="let item of items"
         class="search2-dropdown-item">
      <ng-template [ngTemplateOutletContext]="{item: item}" [ngTemplateOutlet]="itemTemplate"></ng-template>

    </div>
  </div>
  <div class="help-block text-danger">
    {{ errorMessage }}
  </div>
</div>
