<div [class.type-hidden]="type == 'hidden'" class="field">
  <input (keyup)="onChange($event)" [(ngModel)]="value" [class.disabled]="disabled" [class.input-error]="errorMessage"
         [class]="inputClass" [placeholder]="placeholder" [readonly]="disabled" [type]="type">
  <div class="help-block text-danger">
    {{errorMessage}}
  </div>
</div>
