.input-email {
  background-color: transparent;
  height: 44px;
  font-size: 13px;
}

.input-subscribe-button {

  width: 100%;
  box-sizing: border-box;
  /* background: #ededed; */
  border: 1px solid whitesmoke;
  padding: 8px 12px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  // background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  outline: none;
  font-size: .875rem;
  min-width: 0;
  color: #222;
  border: none;

  &.no-padding {
    padding: 0;
    padding-left: 10px;
  }

  &-coupon {
    color: white;
  }
}

.coupon-field-input {
  margin-right: -1px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  /* background: #ededed; */
  border: 1px solid whitesmoke;
  padding: 8px 12px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  outline: none;
  font-size: .875rem;
  min-width: 0;
  color: #222;
  border: none;
}

.input-error {
  border: 1px solid red;
}

.input.disabled {
  background: whitesmoke;
  cursor: not-allowed;
}

.input.full {
  width: 100%;
}

.input.no-border {
  border: 0;
  height: 100%;
}

.input.selected {
  background: whitesmoke;
}

.input-store-name {
  background-color: white;
  width: 100%;
}

#field {
  padding: 15px 15px 15px 5px;
}


app-input {

  .field {

    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, .02);
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .14);
    margin-bottom: 10px;

  }

  &.input-email {
    box-shadow: none;
    border-radius: 0px;
    -moz-box-sizing: none;
    box-sizing: none;
    border: none;
    margin-bottom: 0px;
  }
}

.field.type-hidden {
  border: 0;
}

.fullwidth-field {
  width: 100%;
}

.halfwidth-field {
  width: 50%;
}

.inputvalue {
  height: 42px;
  //width: 100px;
}
