<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">
  <div class="field-error">
    {{ errorMessage }}
  </div>
  <div class="add-currency body">

    <b>Unsubscribe to Your email</b>

    <app-input #field [value]="model.email" input-email name="email" placeholder="email" type="email"></app-input>

    <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab" type="submit"><i aria-hidden="true"
                                                                                                      class="fa fa-paper-plane"></i>
      Unsubscribe
    </app-button>
  </div>

</app-form>
