.add-currency {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;

  & b {
    font-size: 30px;
    line-height: 100px;
  }

  & app-button {
    margin-top: 50px;
  }

  & .input-unsubscribe-email {
    width: 300px;
  }

}

.body {
  margin-left: 30%;
  margin-right: 30%;
}
