.sort-by-field {
  text-align: right;
  margin-right: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  label {
    margin: 0;
    margin-right: 4px;
  }
}

.product-list {
  &__notfound {
    text-align: center;
    margin: 12px 0;

  }
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;

  @media screen and (max-width: 800px) {
    margin-top: 32px;
  }
}

.product-item {
  margin-right: 5px;
  margin-bottom: 32px;
  width: 32%;
  border: 1px solid white;
  display: inline-block;

  @media screen and (max-width: 800px) {
    width: 48%;
    display: inline-block;
  }


  @media screen and (max-width: 500px) {
    width: 100%;
    display: inline-block;
  }

  &-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    margin-bottom: 2px;
    margin-top: 5px;
    word-wrap: break-word;
    line-height: 1.125rem;
    height: 2.25rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.basic-color-pink {
  font-size: 13px;
}

.img-item {
  position: relative;
}

.fa-search-plus {
  position: absolute;
  right: 0%;
  bottom: 2%;
  font-size: 25px;
}

p {
  font-family: Myriad-Regular;
}

h2 {
  font-family: Myriad-Regular;
}

label {
  font-size: 10px;
}

pagination-controls {
  display: block;
  text-align: center;
}
