<div class="product-list">

  <!-- <div class="sort-by-field">
    <label for="country">SORT BY:</label>
    <select id="country" name="country">
      <option value="lower-price">Lower Price</option>
      <option value="higher-price">Higher Price</option>
      <option value="most-recent">Most recent</option>
    </select>
  </div> -->

  <div class="products">
    <div (click)="redirectToProductPage(product)"
         *ngFor="let product of contents | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total, id: 'profile-pagination' }"
         class="product-item">
      <div class="img-item"><img
        [src]="fileService.generateImagePathById(product.images.length > 0 ? product.images[0].imageId : 0)"
        alt="powerbank"></div>
      <p>{{product.name}}</p>
      <div class="product-item-detail">
        <h2 class="basic-color-pink">{{product.price | currency:'S$'}}</h2>
        <i class="fas fa-truck basic-color-pink"></i>
      </div>
    </div>
  </div>
  <div *ngIf="contents.length == 0 && dataFetched" class="product-list__notfound">
    No Results Found
  </div>
</div>

<pagination-controls id="profile-pagination" (pageChange)="list($event)" maxSize="9" directionLinks="true"
                     previousLabel="<" nextLabel=">" screenReaderPaginationLabel="Pagination"
                     screenReaderPageLabel="page"
                     screenReaderCurrentLabel="You're on page">
</pagination-controls>
