<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">
  <div class="form-group">
    {{ errorMessage }}
  </div>
  <h3 class="center">Add your Address</h3>
  <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="form-address">

    <app-input #field [value]="model.name" inputClass="fullwidth-field" name="name" placeholder="Name"
               type="text"></app-input>

    <app-input #field [value]="model.city" inputClass="fullwidth-field" name="city" placeholder="City"
               type="text"></app-input>

    <app-input #field [value]="model.country" inputClass="fullwidth-field" name="country" placeholder="Country"
               type="text"></app-input>

    <app-input #field [value]="model.streetName" inputClass="fullwidth-field" name="streetName"
               placeholder="Street Name"
               type="text"></app-input>

    <app-input #field [value]="model.unitNumber" inputClass="fullwidth-field" name="unitNumber"
               placeholder="Unit Number"
               type="number"></app-input>

    <app-input #field [value]="model.postalCode" inputClass="fullwidth-field" name="postalCode"
               placeholder="Postal Code"
               type="number"></app-input>

    <app-textarea #field [value]="model.detail" name="detail" placeholder="Detail Your address"
                  type="text"></app-textarea>
    <div class="button-address">
      <app-button #submit btnClass="add-button btn btn-main btn-block" class="btn-tab" type="submit">ADD</app-button>
      <button (click)="ngActiveModal.dismiss()" class="btn btn-outline-dark" type="button">Cancel</button>
    </div>
  </div>
</app-form>
