.close {
  position: absolute;
  top: 1%;
  right: 1%;
}

.button-address {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn-tab {
  margin-right: 10px;
}

textarea {
  margin-top: 0px;
}

.form-address {
  margin: 30px;
  line-height: 30px;
}

input {
  margin-bottom: 20px;
}

app-input {
  margin-bottom: 10px;
}

.input-flex {
  display: flex;
}
