<div class="field-label">
  Category
</div>

<div class="sp-category__search" style="display: flex">
  <app-search2 #field [(value)]="content" name="categoryName" placeholder="Search.." valueIndex="name"
               textIndex="name"
               [(items)]="contents"
               [(total)]="total"
               [authKeyNeeded]="false"
               (needSearch)="handleDataChange($event)">
    <ng-template let-item="item">
      <div class="av-form-dropdown">
        {{item.name}}
      </div>
    </ng-template>
  </app-search2>

  <button class="btn btn__primary" type="button" (click)="add(content)">Add</button>
</div>
