<div class="field">
  <app-button (click)="openSelectImage($event)" [btnClass]="btnClass">
    <span *ngIf="icon" [class]="icon"></span>
    {{ btnText }}
  </app-button>
  <div *ngIf="isSelectedImageShown" class="field-area">
    <img *ngFor="let model of models" [src]="generateImagePath(model.path)" class="select-image-field-image"/>
  </div>
  <div class="field-error">
    {{errorMessage}}
  </div>
</div>

<app-select-image [(opened)]="selectImageOpened" [max]="max"
                  (select)="handleSelectEvent($event)"></app-select-image>

