<div class="products-categories">
  <div class="row">
    <mat-accordion class="col-md-12 col-xs-12">
      <span class="basic-background-color">Categories</span>
      <p (click)="redirectToCategoryPage(category.name)"
         *ngFor="let category of categoryContents"
         [class.active]="category.name == selectedCategoryName"
         class="products-categories__detail">{{ category.name }}</p>
    </mat-accordion>
  </div>
</div>
