
* {
  font-family: Myriad-Regular;
}

.products-categories {
  width: 260px;
  display: inline-block;

  @media screen and (max-width: 930px) {
    width: 100%;
  }

  &__sf {
    margin-top: 50px;
  }

  &__detail {
    padding: 10px;
    line-height: 30px;
    margin-bottom: 0px;
    border: 1px solid rgb(245, 245, 245);
    box-shadow: 2px 2px rgb(245, 245, 245);

    &.active {
      background: whitesmoke;
    }

    &:hover {
      cursor: pointer;
      background: whitesmoke;
    }
  }
}

.basic-background-color {
  color: white;
  display: list-item;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  border-bottom: 1px solid rgba(116, 115, 115, 0.568);
  height: 45px;
}

.sort-by-field {
  position: absolute;
  right: 9%;
}

@media only screen and (max-width: 600px) {
  .sort-by-field {
    position: relative;
    right: 0%;
    margin-left: 9%;
  }
}
