<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mobile-only">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse merchantproffile-sidebar-l" id="navbarSupportedContent">

      <div class="merchantproffile-sidebar-l">
        <div class="mainlogo-area">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img src="../../../assets/imgs/logo-white.png" width="100%">
          <p>Merchant Panel</p>
        </div>
        <div class="submenu">
          <div *ngIf="merchantId" [routerLink]="'/my-store/invoice/'+content?.id" class="sidemenu-item">
            <i class="fas fa-store"></i><span>Orders</span>
          </div>
          <div *ngIf="merchantId" [routerLink]="'/my-store/sales/'+content?.id" class="sidemenu-item">
            <i class="fas fa-chart-line"></i><span>Sales Report</span>
          </div>
          <div *ngIf="merchantId" [routerLink]="'/my-store/my-products/'+content?.id" class="sidemenu-item">
            <i class="fas fa-boxes"></i><span>My Products</span>
          </div>
          <div *ngIf="merchantId" [routerLink]="'/my-store/list-employee/'+content?.id" class="sidemenu-item">
            <i class="fas fa-users"></i><span>Employee Access</span>
          </div>
          <div *ngIf="merchantId" [routerLink]="'/my-store/list-store/'+content?.id" class="sidemenu-item">
            <i class="fas fa-store-alt"></i><span>My List Store</span>
          </div>
          <div *ngIf="content ===null" [routerLink]="'/my-store/list-store'" class="sidemenu-item">
            <i class="fas fa-store-alt"></i><span>My List Store</span>
          </div>
          <a href="/">
            <div class="sidemenu-item">
              <i class="fas fa-chevron-left"></i><span>Back to Main Website</span>
            </div>
          </a>
          <div (click)="openMerchant()" class="sidemenu-button">
            Open New Store
          </div>
          <p>Logged in as <a [routerLink]="'/profile'">{{ contents?.username }}</a></p>
          <p>Not You? <a (click)="_authService.logout()" [routerLink]="'/login'">Login</a> to your account</p>
          <div class="tnc"><span>Terms </span><span> | </span><span> Privacy Policy</span></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="merchantproffile-sidebar-l desktop-only">
    <div class="mainlogo-area">
      <img src="../../../assets/imgs/logo-white.png" width="100%">
      <p>Merchant Panel</p>
    </div>
    <div class="submenu">
      <div *ngIf="merchantId" [routerLink]="'/my-store/invoice/'+content?.id" class="sidemenu-item">
        <i class="fas fa-store"></i><span>Orders</span>
      </div>
      <div *ngIf="merchantId" [routerLink]="'/my-store/sales/'+content?.id" class="sidemenu-item">
        <i class="fas fa-chart-line"></i><span>Sales Report</span>
      </div>
      <div *ngIf="merchantId" [routerLink]="'/my-store/my-products/'+content?.id" class="sidemenu-item">
        <i class="fas fa-boxes"></i><span>My Products</span>
      </div>
      <div *ngIf="merchantId" [routerLink]="'/my-store/list-employee/'+content?.id" class="sidemenu-item">
        <i class="fas fa-users"></i><span>Employee Access</span>
      </div>
      <div *ngIf="merchantId" [routerLink]="'/my-store/list-store/'" class="sidemenu-item">
        <i class="fas fa-store-alt"></i><span>My List Store</span>
      </div>
      <div *ngIf="content ===null" [routerLink]="'/my-store/list-store'" class="sidemenu-item">
        <i class="fas fa-store-alt"></i><span>My List Store</span>
      </div>
      <a href="/">
        <div class="sidemenu-item">
          <i class="fas fa-chevron-left"></i><span>Back to Main Website</span>
        </div>
      </a>
      <div (click)="openMerchant()" class="sidemenu-button">
        Open New Store
      </div>
      <p>Logged in as <a [routerLink]="'/profile'">{{ contents?.username }}</a></p>
      <p>Not You? <a (click)="_authService.logout()" [routerLink]="'/login'">Login</a> to your account</p>
      <div class="tnc"><span>Terms </span><span> | </span><span> Privacy Policy</span></div>
    </div>
  </div>
  <div *ngIf="_router.url !== '/my-store/list-store'" class="merchantproffile-main-area">
    <div class="row">
      <div class="background-image">
        <img [src]="_fileService.generateImagePathById(content?.headerImageId)" alt="" class=""/>
        <div class="bg-overlay">
          <div class="row">
            <div class="col-sm-3 logo-area">
              <img [src]="_fileService.generateImagePathById(content?.imageId)" alt="" class="icon-merchant"/>
            </div>
            <div class="col-sm-8 bannerdesc">
              <div class="shop-name">
                <b>{{content?.name}}</b>
                <p [innerHTML]="content?.description | safeHtml"></p>
                <div *ngIf="content?.status == 11" class="status">
                  <p>STORE PENDING FOR APPROVAL</p>
                </div>
                <div *ngIf="content?.status == 0" class="status">
                  <p>BANNED</p>
                </div>
              </div>
              <div (click)="editMerchant()" *ngIf="editable" class="edit-button"><i
                class="fas fa-pencil-alt pointer"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
