.bannerdesc {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  & b {
    font-size: 25px;
  }
}

.mobile-only {
  display: none
}

.merchant-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 300px;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: hidden;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: absolute;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  width: 2000px;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 3px;
  right: 49px;
  font-size: 20px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  left: 10%;
  width: 87%;
  padding: 10px;
  color: white;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.281);
  box-shadow: 2px rgba(104, 104, 104, 0.582);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-light{
  background-color: transparent!important;
}

.navbar{
  padding: .5rem 1.5rem;
}

.merchantproffile-sidebar-l {
  background: #313b3c;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 20%;
  overflow-y: scroll;
}

.mainlogo-area {
  padding: 20px 50px 0 50px;
  background: linear-gradient(to bottom right, #f89590, #f26f97);
  width: 100%;
  float: left
}

.mainlogo-area p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  padding-top: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  border-top: 1px dashed #fff
}

.submenu {
  float: left;
  padding-bottom: 25px;
  width: 100%;
}

.sidemenu-item {
  padding: 20px 25px 20px 30px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: 200ms;
  border-bottom: 1px solid #444;
  font-size: 0.8em
}

.sidemenu-item i {
  margin-right: 20px;
  font-size: 1.4em
}

.sidemenu-item:hover {
  color: #f26f97;
  transition: 200ms;
  cursor: pointer;

}

.sidemenu-item:hover::before {
  content: "";
  width: 5px;
  height: 64px;
  background: #f26f97;
  position: absolute;
  left: 0;
  top: 0;
  transition: 200ms;
}

.sidemenu-button {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 15px;
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
  background: #f26f97;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  border: 2px solid #f26f97;
  transition: 200ms;
}

.sidemenu-button:hover {
  color: #f26f97;
  background: #fff;
  transition: 200ms;
  cursor: pointer
}

.submenu p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 2px
}

.submenu p a {
  color: #fff;
  text-decoration: underline;
}

.tnc {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 0.8em
}

.merchantproffile-main-area {
  margin-left: 20%;
  width: 80%;
  background: #fff
}

.logo-area {
  text-align: center;
  top: 50px;
  left: 50px;
  padding-left: 0;
}

.background-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 265px;
  overflow: hidden;
}

.background-image img {
  width: 100%;

}

.bg-overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.logo-area .icon-merchant {
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px rgba(104, 104, 104, 0.582);
  border-radius: 100%;
}

@media only screen and (max-width: 1000px) {

  .icon-merchant {
    top: 3%;
    left: 2%;
  }

  .bottom-right {
    font-size: 12px;
    height: 180px;
    overflow: auto;
  }

  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block
  }

  .mobile-only{
    position: absolute;
    z-index: 1;
  }

}

@media only screen and (max-width: 991px) {

  .mainlogo-area {
    padding: 10px 10px 0;
    & img{
      padding-top: 10px;
    }
  }

  .merchantproffile-sidebar-l{
    width: 30%;
  }

  .merchantproffile-main-area {
    margin-left: 0;
    width: 100%;
  }

  .sidemenu-item span{
    font-size: 80%;
  }

}

@media only screen and (max-width: 575px) {

  .bannerdesc{
    padding: 20px 12% 0;
  }

  .logo-area .icon-merchant{
    width: 20%;
    height: 100%;
  }

  .logo-area {
    left: 0;
    padding-bottom: 30px;
  }

  .sidemenu-item i{
    margin-right: 4px;
  }
}

@media only screen and (max-width: 650px) {
  
  .merchantproffile-sidebar-l{
    width: 50%;
  }

}