<b>Account Summary</b>
<div class="account">
  <div class="container col-md-13">
    <div class="account-detail">
      <div>
        <img src="../../../../assets/imgs/photo-profile.jpg">
        <b>{{content?.username}}</b>
      </div>
      <div class="account-detail-2">
        <div>URL account : <a class="basic-color-pink" href="">www.aimaimai.com/{{content?.username}}</a></div>
        <div>E-mail : {{ register?.email }}</div>
      </div>
      <div class="account-detail-2">
        <div>Number Phone : {{ content?.phone }}</div>
        <div *ngIf="address != null">Address : {{address?.city}}, {{address?.country}}, {{address?.streetName}}
          , {{address?.unitNumber}}
          , {{address?.postalCode}}</div>
        <div *ngIf="address == null">Address :</div>
      </div>
      <button [routerLink]="['edit']" class="add-button">View</button>
    </div>
    <div class="account-credits-balance">
      <p><span>Your Cash balance</span><span>{{ totalCash | currency:'S$'}}</span></p>
      <p><span>Your Credits balance</span><span>{{ totalCredit | currency:'S$'}}</span></p>
      <p><span>Your Point</span><span>{{ totalPoint | currency:'S$'}}</span></p>
    </div>
  </div>
</div>
