<div class="new-item pointer">
  <img [src]="fileService.generateImagePathById(product?.images?.length > 0 ? product.images[0]?.imageId : 0)"
       alt="powerbank">
  <p>{{product?.name}}</p>
  <div class="new-item-detail">
    <tr>
      <td><p class="basic-color-pink">{{product?.price | currency:'S$'}}</p></td>
      <td style="float:right"><i class="fas fa-truck"></i></td>
    </tr>
    <tr>
      <td><i class="far fa-heart"></i>{{product?.status}}</td>
      <td style="float:right; margin-left: 43px">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </td>
    </tr>
  </div>
</div>
