img {
  width: 100%;
  max-width: 200px;
}

.new-item {
  padding: 15px;
  font-family: 'Myriad-Regular';

  &-detail {
    line-height: 2px;
  }

  img {
    object-fit: contain;
  }
}

.fa-truck {
  color: #ed1f6c;
}

.fa-truck:before {
  line-height: 2;
}

.fa-heart {
  color: #ed1f6c;
}

.fa-star {
  color: yellow;
  font-size: 13px;
}

.basic-color-pink {
  font-size: 18px;
}
