<app-merchant-info [content]="content" [editable]="true"></app-merchant-info>

<ngx-datatable
  #table
  (page)="list($event.offset)"
  [columnMode]="'force'"
  [count]='total'
  [externalPaging]="true"
  [footerHeight]="50"
  [headerHeight]="50"
  [limit]="pageSize"
  [offset]="page"
  [rowHeight]="'auto'"
  [rows]='contents'
  class='material'>

  <ngx-datatable-column name="ORDER ID">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span [routerLink]="'/my-store/order-detail/'+row.id+'/'+row.merchantId"
            class="pointer">{{ commontService.shortOrderId(row.orderId)}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="CUSTOMER NAME">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{orderIdToMap.get(row.orderId)?.customerName}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="CREATED AT">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span [routerLink]="'/transactions/'+row.id+'/'+row.merchantId">
          {{ row.updatedAt | date }}
        </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="STATUS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ getStatusText(row.status) }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
