.order-viewing {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;

  &-header {
    width: 80%;
    font-size: 20px;
    margin: 12px 40px;
    margin-left: 5%;
    margin-right: 5%;
  }

  & span {
    font-family: Myriad-Regular;
    margin-left: 15px;
    font-size: 15px;
    color: gray;
  }

  & form {
    display: flex;
    margin-top: 20px;
    border: 1px solid rgb(199, 198, 198);
    width: 30%;

    & button {
      width: 35px;
      height: 35px;
      background-color: transparent;
      border: none;
    }
  }

  & input {
    width: 100%;
    height: 34px;
    border: none;
  }

  &-detail {
    border: 1px solid rgb(199, 198, 198);
    margin-top: 20px;
    line-height: 25px;
    margin-right: 5%;

    &-bill-field {
      background-color: rgb(247, 247, 247);
      border-bottom: 1px solid rgb(224, 223, 223);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px;

      & button {
        background-color: transparent;
        border: 1px solid #ed1f6c;
        height: 30px;
        width: 80px;
        font-size: 13px;
      }

      & a {
        color: grey;
      }
    }

    &-items-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px;

      & span img {
        width: 30px;
      }

      & button {
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
      }
    }
  }
}


b {
  font-size: 22px;
  margin-left: 4%;
  line-height: 50px;
}

.tittle-bill-field {
  color: gray;
  font-size: 13px;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: #ed1f6c;
}
