<div class="order-viewing">
  <div class="order-viewing-header">
    <span>Items for sale</span>
    <span>Items Not For Sale</span>
    <span>Draft Items</span>

    <!-- <form>
      <input name="search" placeholder="find transactions" type="text">
      <button><i class="fa fa-search"></i></button>
    </form> -->
    <div *ngFor="let content of contents " class="order-viewing-detail">
      <div class="order-viewing-detail-bill-field">
        <span>
          <p class="tittle-bill-field">BILL NUMBER</p>
          <p>{{content.id}}</p>
        </span>

        <span>
          <p class="tittle-bill-field">TOTAL BILL</p>
          <p>'S$' 19.00</p>
        </span>

        <span>
          <p class="tittle-bill-field">BILL STATUS</p>
          <p>Dibayar (24 Nov 2018, 07:49 WIB)</p>
        </span>
        <button [routerLink]="'/order-detail/'+content.id" class="basic-color-pink">See Details</button>
      </div>
      <div class="order-viewing-detail-items-field">
        <span>
          <p class="tittle-bill-field">ITEM</p>
          <img [src]="fileService.generateImagePathById(imageId)">{{item}}
        </span>
        <span>
          <p class="tittle-bill-field">MERCHANT</p>
          <p>Aimaimai</p>
          <a href="#">Chat Pelapak</a>
        </span>
        <span>
          <p class="tittle-bill-field">PURCHASE STATUS</p>
          <p>Received & completed</p>
          <a href="#">Shipping History</a>
        </span>
        <span>
          <button>Buy Again</button>
          <button [routerLink]="['/invoice/:id']">Review</button>
        </span>
      </div>
    </div>
  </div>
</div>
