<div class="about-us body">
  <b>About Aimaimai</b>
  <span>Aimaimai is one of the leading online markets in Singapore that provides buying and selling facilities from 
  consumers to consumers. Everyone can open an online store at Aimaimai and serve buyers from all over Singapur for 
  unit or multiple transactions.</span>
</div>
