.pointer img {
  width: 100%;
  max-height: 450px;
}

.is-header {
  margin-top: 32px;
  background: #ddd;
}

.nopadding {
  padding: 0
}

.carousel-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.is-header__category {

  background: white;

  height: 100%;

  &__banner {

    object-fit: cover;
    outline: none;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 15px;

    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }

    span {
      margin-left: 14px;
    }

    &:hover {
      background: whitesmoke;
      cursor: pointer;
    }
  }
}

.category-item {
  background-color: white;
  position: absolute;
  left: 5%;
  line-height: 40px;
  padding: 10px;
  font-family: 'Myriad-Regular';
  margin-top: 10px;
}

.category-item img {
  padding-right: 10px;
}

.img-slider {
  width: 100%;
  margin-top: 20px;
}

button {
  position: absolute;
  bottom: 7%;
  left: 34%;
  background-color: transparent;
  height: 7%;
  width: 283px;
  border: none;
  color: white;
}

@media only screen and (max-width: 900px) {

  .category-item {
    width: 30%;
    font-size: 7px;
    line-height: 0px;
    padding: 5px;
    margin-top: -1px;

    & img {
      width: 20%;
    }
  }

  .img-slider {
    width: 99%;
    height: 100%;
    margin-top: 0px;
  }
}


.container-s {
  position: relative;
  font-family: Arial;
}

.text-category {
  color: black;
  white-space: pre-line;
}

.mobile-only {
  display: none
}

@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none
  }
  .mobile-only {
    display: block
  }
  .carousel-container {
    top: 0;
    position: relative;
    left: 0;
    transform: none
  }
  .accordion {
    width: 100%;
    display: block;
    border-top: 1px solid #ddd;
  }

  .toggle {
    display: none;
  }

  .option {
    position: relative;
  }

  .title,
  .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }

  .title {
    background: #fff;
    padding: 1em;
    display: block;
    color: #000;
    font-weight: bold;
    margin-bottom: 0
  }
  .title:after, .title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #000;
    transition: all 0.2s;
  }
  .title:after {
    transform: rotate(90deg);
  }

  .content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 10px p {
      margin: 0;
      padding: 0.5em 1em 1em;
      font-size: 0.9em;
      line-height: 1.5;
    }
  }

  .toggle:checked {
    & + .title,
    & + .title + .content {
      box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
    }

    & + .title + .content {
      max-height: 500px;
    }

    & + .title:before {
      transform: rotate(90deg) !important;
    }
  }
}
