<div class="is-header">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-3 nopadding is-header__category desktop-only">
        <div (click)="redirectToCategoryPage(content.name)" *ngFor="let content of categoryContents"
             class="is-header__category__item">
          <img [src]="fileService.generateImagePathById(content.iconImageId)" alt="">
          <span class="text-category">{{content.name}}</span>
        </div>
      </div>
      <div class="col-sm-3 nopadding mobile-only">
        <div class="accordion">
          <div class="option">
            <input class="toggle" id="toggle1" type="checkbox"/>
            <label class="title" for="toggle1">See Our Categories
            </label>
            <div class="content">
              <div (click)="redirectToCategoryPage(content.name)" *ngFor="let content of categoryContents"
                   class="is-header__category__item">
                <img [src]="fileService.generateImagePathById(content.iconImageId)" alt="">
                <span class="text-category">{{content.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 nopadding">
        <ngb-carousel *ngIf="contents" class="carousel-container">
          <span *ngFor="let content of contents">
            <ng-template ngbSlide>
              <a [routerLink]="content.url" class="pointer"><img
                [src]="fileService.generateImagePathById(content.imageId)"
                alt="Norway" class="is-header__category__banner"></a>
              <!-- <div class="carousel-caption">
                <h3>{{content.title}}</h3>
                <p>{{content.description}}</p>
              </div> -->
            </ng-template>
          </span>
        </ngb-carousel>
      </div>

    </div>
  </div>
</div>
