.register {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  padding: 30px;

  .field-area {
    margin-bottom: 0;
    display: flex;
  }
}

.inner-register {
  border-radius: 50px;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.register-left {
  background: url(../../../assets/imgs/login-bg-min.png) no-repeat;
  background-size: cover;
  padding: 25px 50px;
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center
}

.register-left h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin-top: 180px
}

.register-left p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px
}

.side-button {
  text-align: center;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 80px;
  transition: 0.5s
}

.side-button:hover {
  color: #ed1f6c;
  background: #fff;
  transition: 0.5s

}

.register-right {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 50px 0 0 50px
}

.register-right h1 {
  color: #ed1f6c;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  margin-top: 40px
}

.register-right p {
  color: #999;
  text-align: center;
  margin-bottom: 20px
}

.remember-me a {
  color: #ed1f6c;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ed1f6c;
}

.remember-me {
  margin-left: 15px
}

.social-login {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: calc(50% - 85px);
}

.social-login-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  border: solid 2px #ddd;
  position: relative;
  float: left;
  margin: 0 15px;
  transition: 0.5s;
  cursor: pointer;
}

.social-login-button:hover {
  transition: 0.5s;
  background: #ed1f6c;
  border: solid 2px #ed1f6c;
}

.social-login-button .fa-facebook-f {
  color: #fff;
  top: calc(50% - 12px);
  left: calc(50% - 7px);
  position: absolute;
  font-size: 24px;
}

.social-login-button .fa-google-plus-g {
  color: #fff;
  top: calc(50% - 12px);
  left: calc(50% - 14px);
  position: absolute;
  font-size: 24px;
}

.social-login-button:hover .fa-facebook-f {
  color: #fff;
}

.social-login-button:hover .fa-google-plus-g {
  color: #fff;
}

.forget-pw {
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ed1f6c;
  text-align: center;
  color: #000
}

.fbacklink {
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: center;
  font-size: 0.8em;
  color: #000;
}

.main-button {
  text-align: center;
  padding: 8px 50px;
  border: 1px solid #ed1f6c;
  background: #ed1f6c;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px;
  transition: 0.5s;
  margin-top: 30px
}

.main-button:hover {
  color: #ed1f6c;
  background: #fff;
  border: 1px solid #ed1f6c;
  transition: 0.5s
}

.register-link {
  text-align: left;
}

.checkbox {
  margin-top: 0px;
}

.remember-line {
  margin-top: 20px
}

.remember-me {
  margin-right: 60%;
  margin-top: 0px;
}

input {
  margin-top: 20px;
}


.login-button {
  height: 40px;
  width: 100px;
  color: white;
  font-size: 15px;
  background-color: #ed1f6c;
}

button {
  height: 40px;
  background-color: rgb(247, 247, 247);
  font-size: 15px;
  margin-top: 20px;
  position: relative;

  & img {
    width: 20px;
    position: absolute;
    left: 5%;
  }
}

.account-question {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .register {
    padding: 0;
    background: #fff
  }
  .inner-register {
    top: 0;
    transform: none;
    border-radius: 0
  }
  .register-left {
    border-radius: 0;
    padding: 15px 20px
  }

  .register-right {
    border-radius: 0;
    padding: 15px 40px;
    overflow-x: hidden;
  }
  .register-right h1 {
    margin-top: 20px
  }
  .social-login {

  }
  .halfwidth-field {
    width: 100%;
    border-right: 0px solid #fff;
  }
}
