<div class="register">
  <div class="row inner-register">
    <div class="col-sm-7 register-right">
      <img [routerLink]="'/'" class="pointer" src="../../../assets/imgs/logo.png" width="150px">
      <h1>Create an Account!</h1>
      <app-form #form (successValidation)="register($event)" [authKeyNeeded]="false" [customSubmitMode]="true"
                [rules]="getRules()"
                [validationMessages]="getValidationMessages()">
        <div class="field-area">
          <app-input #field [value]="model.firstName" class="halfwidth-field" name="firstName" placeholder="First Name"
                     type="text"></app-input>

          <app-input #field [value]="model.lastName" class="halfwidth-field" name="lastName" placeholder="Last Name"
                     type="text"></app-input>

        </div>

        <div class="field-area">
          <app-input #field [value]="model.email" class="fullwidth-field" name="email" placeholder="Email"
                     type="text"></app-input>
        </div>

        <div class="field-area">
          <app-input #field [value]="model.password" class="halfwidth-field" name="password" placeholder="Password"
                     type="password"></app-input>

          <app-input #field [value]="model.verifyPassword" class="halfwidth-field" name="verifyPassword"
                     placeholder="Verify Password"
                     type="password"></app-input>
        </div>

        <div class="field-area">
          <app-input #field [value]="model.referralCode" class="fullwidth-field" name="referralCode"
                     placeholder="Referral Code"
                     type="text"></app-input>

        </div>

        <p class="remember-line">
          <span><label>
              <input class="checkbox" name="remember" type="checkbox"/>
          </label>
        </span><span class="remember-me">I agree with the <a
          [routerLink]="'/terms-and-conditions'">Terms and Conditions</a></span>
        </p>

        <div>
          <button #submit class="main-button" type="submit">Register</button>
        </div>

      </app-form>
      <a class="fbacklink" href="/">< Back to Homepage</a>

      <span *ngIf="errorMessage !=null" style="color: red">{{errorMessage}} <br/></span>
    </div>
    <div class="col-sm-5 register-left">

      <h1>Welcome Back!</h1>
      <p>If you have already created an account before, please login below</p>
      <div class="social-login">
        <div class="social-login-button pointer" (click)="_authService.loginWithFacebook()"><i class="fab fa-facebook-f"></i></div>
        <div class="social-login-button"><i class="fab fa-google-plus-g"></i></div>
      </div>
      <div [routerLink]="'/login'" class="side-button">
        Sign In Now
      </div>
    </div>
  </div>
</div>


<!-- <div class="register__wrapper">
  <div class="register">
    <img [routerLink]="'/'" alt="" class="pointer" src="../../../assets/imgs/logo.png" />

    <span class="center">OR</span>
    <button><img alt="" src="../../../assets/imgs/fb-logo.png"> Login with Facebook</button>
    <button><img alt="" src="../../../assets/imgs/google-logo.png"> Login with Google</button>
    <div class="account-question"><span>Already have an account?</span> <a [routerLink]="'/login'"> Please login</a></div>
  </div>

</div> -->
