<div class="contact-us body">
  <div class="contact-us-header">
    <b>Contact Us</b>
  </div>
  <div class="contact-us-body">
    <div class="contact-us-body-left">
      <span>AMM OPERATION PTE. LTD.</span>
      <table>
        <tr>
          <td>Telephone</td>
          <td>:</td>
          <td>081808734563</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td>aimaimai@info.com</td>
        </tr>
      </table>
      <iframe
        allowfullscreen
        frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.829410060857!2d103.84362111379059!3d1.2756997990695562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1913440ef3cf%3A0x2d552d64c2a5b3b4!2s10+Anson+Rd%2C+International+Plaza%2C+Singapura+079903!5e0!3m2!1sid!2sid!4v1548657066696" style="border:0" width="500"></iframe>
    </div>
    <div class="contact-us-body-right">

      <app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
                [validationMessages]="getValidationMessages()">
        <div class="form-group">
          {{ errorMessage }}
        </div>
        <h3 class="center">Leave a Message</h3>
        <div>

          <app-input #field [value]="model.name" class="full-field message-contact-us" name="name"
                     placeholder="Your Name" type="text"></app-input>

          <app-input #field [value]="model.email" class="full-field message-contact-us" name="email"
                     placeholder="Email Address" type="text"></app-input>

          <app-textarea #field [value]="model.message" name="message" placeholder="Message" type="text"></app-textarea>

        </div>
      </app-form>

      <app-button #submit btnClass="send-button" class="btn-tab " type="submit">SEND MESSAGE</app-button>
    </div>
  </div>
</div>
