.contact-us {
  &-header {
    display: flex;
    flex-direction: column;

    & b {
      font-size: 30px;
      line-height: 70px;
      margin-bottom: 20px;
    }
  }

  &-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    &-left {
      margin: 20px;

      & td {
        padding: 5px;
      }
    }

    &-right {
      margin: 20px;
      width: 45%;
      text-align: center;

      & input .full {
        margin-bottom: 20px;
      }
    }
  }
}

span {
  font-weight: bold;
  font-size: 20px;
}

.btn-tab {
  margin-top: 20px;
  background-image: linear-gradient(#ed1f6c, #fa95ba);
}


@media only screen and (max-width: 600px) {

  iframe {
    width: 100%;
  }
  .contact-us-body-right {
    width: 100%;
  }
}
