<div class="field">
  <div class="checkbox-area">
    <input (change)="handleChange($event)" [checked]="value" class="checkbox"
           type="checkbox">
    <span class="checkbox-content">
      <ng-content></ng-content>
    </span>
  </div>
  <div class="help-block text-danger">
    {{errorMessage}}
  </div>
</div>
