<button (click)="close('toggle button')" mat-button><i class="fas fa-times"></i></button>
<p class="basic-color-yellow">HI!</p><p class="basic-color-yellow"><i class="far fa-user"></i> &nbsp; </p><span>Sign in | Register</span>

<div class="background"></div>
