.product-list {
  margin-left: 9%;
  margin-right: 9%;

  &-header {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }
}


.sort-by-list {
  float: right;
}

app-product-list {
  width: 100%;
}

@media only screen and (max-width: 930px) {

  .product-list-header {
    display: block;
  }

}
