<app-search-header></app-search-header>

<app-products-header (update)="setSelectedCategory($event)"></app-products-header>

<div class="product-list row">
  <div class="product-list-header">
    <app-products-categories (update)="setSelectedCategory($event)"></app-products-categories>
    <app-product-list #productList></app-product-list>
  </div>
</div>