<div class="field">
  <div class="mul-search-input-wrapper">
      <span class="mul-search-selected">
          <app-mul-search-item (remove)="handleRemoveEvent($event)" *ngFor="let item of selectedItems"
                               [value]="item">
          </app-mul-search-item>
      </span>
    <app-input (click)="refreshData($event)" (valueChange)="handleInputValueChange($event)"
               [(value)]="text"
               [placeholder]="placeholder"
               inputClass="input no-border"
               type="text"
    ></app-input>
  </div>
  <div *ngIf="noResultFound" class="search-not-found">
    No Result Found
  </div>
  <div *ngIf="getDataKeys().length !== 0" class="search-dropdown">
    <div (click)="triggerDropdownItemClick(key)"
         *ngFor="let key of getDataKeys()"
         [class.disabled]="isDataDisabled(key)"
         class="search-dropdown-item">
      {{ findItem(key).text }}
    </div>
  </div>
  <div class="field-error">
    {{ errorMessage }}
  </div>
</div>
