.search-dropdown-item {
  padding: 12px;
}


.search-dropdown-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

.search-dropdown-item.disabled {
  background: darkgray;
}

.search-dropdown-item.disabled:hover {
  cursor: no-drop;
}

.field {
  position: relative;
}

.search-dropdown, .search-not-found {
  margin-top: -12px;
  position: absolute;
  background: white;
  width: 100%;
}

.search-not-found {
  padding: 12px;
}

/* app-input[class="selected"] > .field > input {
    background: whitesmoke;
} */

app-input {
  width: 100%;
}

.mul-search-input-wrapper {
  border: 1px solid lightgray;
  margin-bottom: 12px;
  display: flex;
}

.mul-search-selected {
  display: flex;
}
