img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px
}

.new-item {
  padding-top: 0px;
  padding-bottom: 10px;

  font-family: 'Myriad-Regular';

  & p {
    margin-left: 10px;

  }

  &-detail {
    line-height: 2px;
  }

  & .fa-heart {
    margin-left: 10px;
  }

  img {
    object-fit: contain;
  }
}

.product-name {
  height: 48px;
  overflow: hidden;
}

.fa-truck {
  color: #ed1f6c;
}

.fa-truck:before {
  line-height: 2;
}

.fa-heart {
  color: #ed1f6c;
}

.fa-star {
  color: yellow;
  font-size: 13px;
}

.basic-color-pink {
  font-size: 18px;
}

// .star-filled {
//   position: relative;

//   display: inline-block;
//   width: 0;
//   height: 0;

//   margin-left: .9em;
//   margin-right: .9em;
//   margin-bottom: 1.2em;

//   border-right:  .3em solid transparent;
//   border-bottom: .7em  solid #FC0;
//   border-left:   .3em solid transparent;

//   /* Controlls the size of the stars. */
//   font-size: 7px;

//   &:before, &:after {
//     content: '';

//     display: block;
//     width: 0;
//     height: 0;

//     position: absolute;
//     top: .6em;
//     left: -1em;

//     border-right:  1em solid transparent;
//     border-bottom: .7em  solid #FC0;
//     border-left:   1em solid transparent;

//     transform: rotate(-35deg);
//   }

//   &:after {
//     transform: rotate(35deg);
//   }
// }

// .star {
//   position: relative;

//   display: inline-block;
//   width: 0;
//   height: 0;

//   margin-left: .9em;
//   margin-right: .9em;
//   margin-bottom: 1.2em;

//   border-right:  .3em solid transparent;
//   border-bottom: .7em  solid grey;
//   border-left:   .3em solid transparent;

//   /* Controlls the size of the stars. */
//   font-size: 7px;

//   &:before, &:after {
//     content: '';

//     display: block;
//     width: 0;
//     height: 0;

//     position: absolute;
//     top: .6em;
//     left: -1em;

//     border-right:  1em solid transparent;
//     border-bottom: .7em  solid grey;
//     border-left:   1em solid transparent;

//     transform: rotate(-35deg);
//   }

//   &:after {
//     transform: rotate(35deg);
//   }
// }

@media only screen and (max-width: 600px) {

}
