.address-detail {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
  border: 1px solid rgb(245, 245, 245);
  box-shadow: 3px 3px rgb(245, 245, 245);

  & b {
    font-size: 22px;
    padding-left: 10px;
    display: table;
    line-height: 70px;
    width: 100%;
    background-color: rgb(245, 245, 245);
  }

  & p {
    padding-left: 10px;
    line-height: 60px;
    border-bottom: 1px solid rgb(250, 250, 250);
    margin-bottom: 0px;
  }
}
