<div class="address-detail">
  <b>Address Detail</b>

  <p>Name : {{addressMapToId.get(addressId)?.name}}</p>
  <p>City : {{addressMapToId.get(addressId)?.city}}</p>
  <p>Country : {{addressMapToId.get(addressId)?.country}}</p>
  <p>Latitude : {{addressMapToId.get(addressId)?.latitude}}</p>
  <p>Longitude : {{addressMapToId.get(addressId)?.longitude}}</p>
  <p>Street Name : {{addressMapToId.get(addressId)?.streetName}}</p>
  <p>Unit Number : {{addressMapToId.get(addressId)?.unitNumber}}</p>
  <p>Postal Code : {{addressMapToId.get(addressId)?.postalCode}}</p>
  <p>Detail : {{addressMapToId.get(addressId)?.detail}}</p>
</div>

