<app-products-header></app-products-header>
<div class="product">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 category-product ">
        <span (click)="redirectToStorePage()" class="product__breadcrumb">Store </span>
        &nbsp;<i class="fas fa-chevron-right basic-color-pink"></i>&nbsp;
        <span (click)="redirectToCategoryPage(mainCategory.categoryName)" class="product__breadcrumb"
              *ngIf="mainCategory">{{
          mainCategory?.categoryName }}</span>
        <span *ngIf="mainCategory">
          &nbsp;<i class="fas fa-chevron-right basic-color-pink"></i>&nbsp;
        </span>
        {{ content.name }}
      </div>

      <div class="product__info">
        <div class="product__info-detail" ngAfterViewInit>
          <div class="category-product__img">
            <div class="category-product__img__left">
              <div>
                <span (click)="slickModal.slickPrev()"
                      style="font-size:24px; opacity: 0.5"><i class="fa fa-angle-double-up"></i></span>
                <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
                           (afterChange)="afterChange($event)">
                  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%" (click)="getSelect(slide)" class="pointer"/>
                  </div>
                </ngx-slick>
                <span (click)="slickModal.slickNext()"
                      style="font-size:24px; opacity: 0.5; "><i class="fa fa-angle-double-down"></i></span>
              </div>

            </div>
            <img *ngIf="slides.length > 0" [src]="defaultImageId.img" (click)="viewImage(defaultImageId.img)" alt="">
          </div>
          <div class="product__info__left">
            <div class="product-title">
              <b style="font-size: 20px">{{content.name}}</b>

              <span *ngFor="let item of cartItem.cartItemAttributes">
              <small> | {{item.attributeName}} : {{item.attributeValue}}</small>
            </span>

              &nbsp;<i class="fa fa-times pointer" aria-hidden="true" style="color: red" (click)="cleanAttribute()"
                       *ngIf="cartItem.cartItemAttributes.length > 0" title="clean all attribute"></i>


            </div>
            <div class="product-detail-reward">
              <div>Merchant:<span class="basic-color-pink pointer"
                                  (click)="routMerchantURL(content?.merchantId)">&nbsp; {{merchantIdToMap.get(content?.merchantId)?.name}}</span>
              </div>
            </div>

            <div class="pricedesc">
              <p [innerHTML]="content?.description | safeHtml"></p>
              <div class="product-detail-price">

                <p class="price-p">{{ content?.price + getAdditionalPrice() | currency:'S$'}}</p>
                <p>{{ content?.quantity }} in stock</p>
              </div>
              <div class="product-detail-quantity">
                <span>Quantity : </span>
                <div class="product-detail-quantity__area">
                  <button class="product-detail-quantity-button" (click)="decrementQuantityToCart()">-
                  </button>
                  <span>
                    {{quantityToCart}}
                  </span>
                  <button class="product-detail-quantity-button" (click)="incrementQuantityToCart()">+</button>
                </div>
                <br>
              </div>

              <div>

                <br/>
                <span *ngFor="let attributeName of contentAttributeNames">
                  <b>{{attributeName}}</b> :

                <span *ngFor="let item of contentAttributes[attributeName]">

                  <button class="btn btn-outline-primary item" style="margin: 3px" [disabled]="selectedAttribute(item)"
                          (click)="getSelectedAttribute(item)">{{item.attributeValue}}</button>

                </span>

                  <br/>
                </span>

                <br/>


                <label for="note">Note for merchant (optional)</label>
                <textarea placeholder="example : color, size" id="note" class="item form-control" style="margin: 3px"
                          #note></textarea>

              </div>

            </div>
            <button class="product-detail-quantity-button-add" (click)="addToCart(note.value)">Add to Cart</button>
            <br>

          </div>
        </div>

      </div>
      <div class="row">
        <app-product-might-like [productId]="productId"
                                [recommendedProducts]="recommendedProducts"></app-product-might-like>
      </div>
    </div>
  </div>
</div>


