.category-product {
  font-family: Myriad-Regular;
  padding: 0;
  margin-bottom: 30px;

  &__img {
    width: 100%;
    margin-bottom: 12px;
    display: flex;

    &__left {
      width: 80px;

      > img {
        width: 100%;
      }
    }

    > img {
      width: 100%;
      max-height: 250px;
      object-fit: contain;

      &:hover {
        cursor: pointer;
      }
    }

  }
}

.product {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 5px solid rgb(224, 224, 224);

  &__info {
    display: flex;
    width: 100%;

    @media screen and (max-width: 800px) {
      display: block;
    }

    &__left {
      width: 100%;
      z-index: 0;

      @media screen and (max-width: 800px) {
        h3 {
          font-size: 22px;
        }
      }
    }

    &-detail {
      display: flex;
    }

    @media screen and (max-width: 800px) {
      &-detail {
        flex-direction: column;
      }
    }
  }

  &__breadcrumb {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
}

.img-product img {
  width: 80px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(182, 182, 182);
  margin-bottom: 10px;
  margin-right: 30px;
}

.img-zoom img {
  width: 400px;
  border: 2px solid rgb(182, 182, 182);
  margin-right: 30px;
}

.product-detail-reward {
  width: 100%;
  border-bottom: 5px solid rgb(245, 245, 245);
  position: relative;
  font-family: Myriad-Regular;
  float: left;
}

.product-detail-reward a {
  border-bottom: none
}

.product-detail {
  line-height: 50px;
}

.product-detail-price .price-p {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid #ed1f6c;
  width: fit-content;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-family: Myriad-Regular;
}

app-product-might-like {
  width: 100%;
}

.pricedesc {
  position: relative;
  padding-top: 12px;
  border-bottom: 5px solid rgb(245, 245, 245);
  width: 100%;
  float: left;

  padding-bottom: 12px;
}

.product-detail-price, .product-detail-quantity {
  float: left;
  width: 50%;
}

.product-detail-quantity {
  &-button {
    width: 50px;
    height: 50px;
    background-color: #fd71a4;
    font-size: 20px;
  }

  &-button-add {
    color: #ed1f6c;
    width: 180px;
    height: 40px;
    border: 1px solid #ed1f6c;
    background-color: transparent;
    font-size: 20px;
  }

  & span {

    font-size: 25px;
    display: flex;
    margin-left: 0%;
    align-items: center;
    padding: 8px;
  }

  &__area {
    display: inline-flex;
  }
}

.product-detail-quantity-button-add {
  margin-top: 25px;
  transition: 0.3s;
}

.product-detail-quantity-button-add:hover {
  background: #ed1f6c;
  color: #ffff;
  transition: 0.3s;
}

.specification-product {
  margin-top: 25px & p {
    padding-bottom: 20px;
    font-family: Myriad-Regular;
  }

  &-detail {
    margin-top: 25px;
    border-bottom: 5px solid rgb(245, 245, 245);
    width: 100%;
    font-family: Myriad-Regular;
  }
}

tr {
  background-color: rgba(253, 245, 248, 0.692);
  display: inline-table;
}

td {
  width: 250px;
}

h2 {
  font-family: Myriad-Bold;
}

p {
  font-family: Myriad-Regular;
}

span {
  font-family: Myriad-Regular;
}

.app-works-wrapper {
  padding: 0
}

.app-works-image {
}

.app-works-wrapper img {
  width: 100%
}

.app-works-image img {
  width: 100%
}

@media only screen and (max-width: 600px) {
  .app-works-zero {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 25px
  }
  .product-detail-price {
    width: 100%
  }
  .product-detail-quantity {
    width: 100%
  }
  .product-merchant {
    display: none
  }

  .pointer {
    width: 45px;
  }
}
