<div class="body merchant-order">
  <div class="merchant-order-list">
    <div *ngFor="let item of content?.orderItems">
      <div class="merchant-order-list-detail">
        <img [src]="fileService.generateImagePathById(item?.imageId)" alt="" width="50">
        <div>
          <p class="basic-color-pink ">{{item?.productName}}</p>
          <p>Quantity: {{item?.quantity}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="merchant-order-detail">
    <div class="merchant-order-detail-buyer">
      <div class="status-field">
        <b>Status : </b>
        <span>{{getStatusText(content?.status)}}</span>
      </div>
      <div *ngIf="content?.status == 2" class="pending-status">
        <button (click)="approve(content?.id)" class="add-button btn">Approve</button>
        <button (click)="reject(content?.id)" class="btn btn-warning">Reject</button>
      </div>
    </div>
    <div class="merchant-order-detail-price">
      <p>total product cost : {{getTotalCost() | currency:'S$'}}</p>
      <p>Shipping costs: {{content?.shipmentCost | currency:'S$'}}</p>
    </div>
    <div class="merchant-order-detail-payment">
      <p>Total Shopping: {{getTotalCost() + content?.shipmentCost | currency:'S$'}}</p>
      <p>Deduction of automatic courier payments: {{content?.shipmentCost | currency:'S$'}}(-)</p>
    </div>
    <div class="merchant-order-detail-payment-merchant">
      <b>Total received by seller: {{getTotalCost() | currency:'S$'}}</b>
    </div>
    <div class="merchant-order-detail-shippment">
      <p>DELIVERY SERVICES FOR BUYER OPTIONS</p>
      <p>{{content?.shipmentMethodId}}</p>
    </div>
    <div class="merchant-order-detail-address">
      <b>Sent to:</b>
      <p>Name: {{orderContent?.customerName}}</p>
      <p>Telephone: {{content?.telephone}}</p>
      <p>City: {{content?.shippingCity}}</p>
      <p>Country: {{content?.shippingCountry}}</p>
      <p>Street Name: {{content?.shippingStreetName}}</p>
      <p>Unit Number: {{content?.shippingUnitNumber}}</p>
      <p>Postal code: {{content?.shippingPostalCode}}</p>
      <p>Address Detail: {{content?.shippingAddressDetail}}</p>
    </div>
  </div>
</div>
