.pending-status {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.status-field {
  line-height: 35px;
}

.merchant-order {
  background-color: rgba(248, 248, 248, 0.815);
  box-shadow: 3px 3px rgb(245, 245, 245);
  display: flex;
  flex-direction: row;

  & p {
    margin-bottom: 0;
  }

  &-list {
    border-right: 1px solid rgb(226, 226, 226);
    padding-right: 20px;
    width: 50%;

    & img {
      width: 110px;
      height: 110px;
      margin: 20px;
    }

    & .basic-color-pink {
      line-height: 60px;
    }

    &-detail {
      display: flex;
    }
  }

  &-detail {
    width: 50%;

    &-buyer {
      padding: 20px;
      border-bottom: 1px solid rgb(226, 226, 226);
      display: flex;
    }

    &-price {
      margin: 20px;
      line-height: 30px;
      padding-bottom: 10px;
      border-bottom: 3px solid rgb(226, 226, 226);
    }

    &-payment {
      margin: 20px;
      line-height: 30px;
      padding-bottom: 10px;
      border-bottom: 3px solid rgb(226, 226, 226);
    }

    &-payment-merchant {
      margin: 20px;
      padding: 10px;
      background-color: rgb(226, 225, 225);
    }

    &-shippment {
      padding: 20px;
      border-top: 1px solid rgb(226, 226, 226);
    }

    &-note {
      padding: 20px;
      border-bottom: 1px solid rgb(226, 226, 226);
    }

    &-address {
      padding: 20px;
      line-height: 30px;
    }
  }
}

.add-button {
  margin-right: 10px;
  color: white;
}
