<div class="upload-image-right">
  <img (click)="displaySelectImage($event)" [src]="imageSrc" class="upload-image-area"/>
  <input #input (change)="readUrl($event)" class="hide" type="file"/>
  <div class="upload-image-actions">
    <app-button (click)="upload($event)" [disabled]="uploadDisabled" class="button blue right"
                text="Upload">
      Upload
    </app-button>
  </div>
</div>
