.dropdown-area-item {
  padding: 12px;
}


.dropdown-area-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

.dropdown-area-item.disabled {
  background: darkgray;
}

.dropdown-area-item.disabled:hover {
  cursor: no-drop;
}

.field {
  position: relative;
}

.dropdown-area, .dropdown-not-found {
  position: absolute;
  background: white;
  z-index: 1;
  max-height: 400px;
  overflow: auto;
  width: 100%;
  border: 1px solid lightgray;
}

.dropdown-wrapper {
  position: relative;
  width: 220px;
}

.dropdown-not-found {
  padding: 12px;
}

app-input[class="selected"] > .field > input {
  background: whitesmoke;
}

.input:hover {
  cursor: pointer;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: white;
  border: 1px solid lightgray;
}

.input-wrapper {
  box-sizing: border-box;
}
