<div class="dropdown-wrapper">
  <div (click)="toggleDropdown($event)"
       class="input-wrapper">
    <input [(value)]="text" [placeholder]="placeholder"
           class="input"
           disabled="true"
           type="text"/>
  </div>
  <div *ngIf="dropdownOpened" class="dropdown-area">
    <div (click)="triggerDropdownItemClick(item)"
         *ngFor="let item of items"
         class="dropdown-area-item">
      {{ item.text }}
    </div>
  </div>
  <div class="field-error">
    {{ errorMessage }}
  </div>
</div>
