.product-header {
  width: 100%;
  height: 46px;
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown {
  overflow: hidden;
  background-color: #ed1f6c;
  border-right: 1px solid white;
  border-left: 1px solid white;
  width: 260px;
  text-align: center;
  margin-right: 30px;
  margin-left: 10px;

}

.dropdown .dropbtn {
  font-family: Myriad-Regular;
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 0px;
  background-color: inherit;
}

.dropdown-content {
  font-family: Myriad-Regular;
  position: absolute;
  background-color: #ed1f6c;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.product-header a {
  color: #fff;
  border-bottom: none;
  padding-top: 11px;
  margin-right: 25px;
  max-height: 0;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: Myriad-Regular;
}

button:hover {
  background-color: #f05c92;
  color: white;
}

.dropdown ul {
  padding: 0;
  position: relative;
  left: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  margin-bottom: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dropdown ul li {
  background: none;
  display: block;
  border-bottom: 1px solid #ddd;
  color: #fff;
  width: 100%;
  padding: 10px 5px
}

.dropdown ul li:hover {
  background: #ea78a2;
}

.dropdown:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown {
  z-index: 1
}

@media only screen and (max-width: 600px) {
  .product-header a {
    display: none
  }
  .dropdown {
    width: 100%;
    margin-right: 0;
    display: none
  }
  .product-header {
    padding-left: 5%;
    padding-right: 5%
  }
  .dropdown ul li {
    background: none;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #fff;
    width: 100%;
    padding: 10px 5px
  }

  .dropdown ul li:hover {
    background: #ea78a2;
  }

  .dropdown:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .dropdown:hover ul a {
    display: block;
    padding-top: 0;
    min-height: 15px
  }
}
