<div class="product-header basic-background-color">
  <div class="container">
    <div class="row">

      <div class="dropdown">
        <div class="dropbtn">All Categories
          <i class="fas fa-angle-down"></i>
        </div>
        <ul>
          <li *ngFor="let category of categoryContents"><a href="#">{{ category.name }}</a></li>
        </ul>

      </div>
      <a class="basic-background-color" href="">Popular Items</a>
      <a class="basic-background-color" href="">Latest Items</a>
    </div>
  </div>
</div>
