.summary {
  border: 1px solid black;
  line-height: 40px;
  padding: 15px;

  // & p {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   margin-bottom: 0;
  // }

  &-product {

    line-height: 1em;
    border-bottom: 1px solid lightgray;
    margin-bottom: 12px;

    p {
      margin-bottom: 0;
    }
  }

  &-purchase {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  & button {
    height: 40px;
    color: white;
    font-size: 13px;
    border: none;

    & .add-button {
      height: 44px;
    }
  }

  & h5 {
    text-align: left
  }

  & .pointer {
    height: 44px;
    width: 60px;
  }
}

.cart-section {
  margin-top: 50px
}

.summary-purchase {
  padding: 15px 0
}

.summary-product {
  padding: 10px 0;

  &__name {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.summary-name {
  line-height: 1.2em
}

.summary-price {
  line-height: 1.2em
}

.summary-qty {
  font-size: 0.8em;
  color: #ed1f6c;
  line-height: 1.2em
}

.grand-total {
  font-weight: 800;
}

.acceptrules {
  font-size: 0.7em
}

.checkbox {
  margin-right: 10px
}

.checkout-btn {
  width: 100%
}

.coupon-field {
  color: white;
}

@media only screen and (max-width: 600px) {

}
