<section class="cart-section">
  <div class="container">

    <div *ngIf="content.cartItems.length == 0" class="row">
      <div class="col-sm-9 cart-item">
        <h3>Cart not found</h3>
      </div>
    </div>

    <div *ngIf="content.cartItems.length > 0" class="row">
      <div class="col-sm-9 cart-item">
        <h3>YOUR CART</h3>
        <div *ngFor="let item of content.cartItems">
          <app-cart-item (contentItem)="editCartItem($event)" (itemDelete)="deleteCartItem($event)" [content]="item"
                         [merchantIdToMap]="merchantIdToMap" [productIdToMap]="productIdToMap"></app-cart-item>
        </div>
      </div>
      <div class="col-sm-3 summary">
        <h5>Cart Summary</h5>
        <div class="summary-purchase">
          <div *ngFor="let item of content.cartItems" class="summary-product">
            <p [routerLink]="'/product/'+item?.productId" class="summary-product__name">
              <span class="summary-name">{{productIdToMap.get(item?.productId)?.name}}</span>
            </p>
            <div class="summary-price">{{getSingleProductQuantity(item.price, item.quantity) | currency:'S$'}}</div>

            <p><span class="summary-qty">Qty: {{item?.quantity}}</span></p>
          </div>
          <br/>
          <app-get-coupon-form (success)="addCoupon($event)" *ngIf="ruleContents.length == 0"></app-get-coupon-form>

          <span *ngIf="ruleContents.length > 0 " type="text">
            <div *ngFor="let rule of ruleContents" class="coupon-field">
              <input disabled type="text" value="{{rule.couponCode}}"/> <button
              (click)="deleteCartRule(rule.couponCode)"
              class="pointer add-button">Delete</button>
            </div>
            <p><span>Discount</span><span>-{{getDiscount() | currency:'S$'}}</span></p>
          </span>


        </div>

        <p class="grand-total"><span>TOTAL</span><span>{{getTotalProductCost() - getDiscount() | currency:'S$'}}</span>
        </p>
        <span class="acceptrules"><input class="checkbox" name="acceptrules" type="checkbox"
                                         [(ngModel)]="condition"
                                         (change)="getSelectedCondition(condition)"
        >I agree with <a>Terms and
        conditions</a></span>
        <button (click)="checkout()" class="basic-background-color checkout-btn" >
          Checkout Now
        </button>
        <small style="color: red">{{warningMessage}}</small>
        <!--<button *ngIf="!_authService.loggedIn()" [routerLink]="'/login'" class="basic-background-color checkout-btn">-->
          <!--Checkout Now-->
        <!--</button>-->
      </div>
    </div>
  </div>
</section>
