.sitemap {
  &-header {
    display: flex;
    flex-direction: column;

    & b {
      font-size: 25px;
      line-height: 70px;
      border-bottom: 1px solid rgb(172, 172, 172);
      margin-bottom: 20px;
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & P {
      margin-bottom: 0;
    }
  }
}
