<div class="body sitemap">
  <div class="sitemap-header">
    <b>Sitemap</b>
  </div>
  <div class="sitemap-body">
    <div><b>AIMAIMAI.COM</b></div>
    <div>
      <p>About Aimaimai</p>
      <p>Rules of Use</p>
      <p>Privacy Policy</p>
      <p>Safety Guide</p>
    </div>
    <div>
      <p>Community</p>
      <p>Open Help</p>
      <p>News & Announcements</p>
      <p>Blog</p>
    </div>
    <div>
      <p>Contact Aimaimai</p>
      <p>Aimaimai's archive</p>
      <p>Career</p>
      <p>Brand Identity</p>
      <p>Mobile Site</p>
    </div>
  </div>
</div>