<div class="login">
  <div class="row inner-login">
    <div class="col-sm-5 login-left">
      <img [routerLink]="'/'" class="pointer" src="../../../assets/imgs/logo-white.png" width="150px">
      <h1>Hello Friend!</h1>
      <p>Enter your personal info and start your shopping journey with us!</p>
      <div [routerLink]="'/register'" class="side-button">
        Register Now
      </div>
    </div>
    <div class="col-sm-7 login-right">
      <h1>Sign In Now</h1>
      <div class="social-login">
        <div (click)="loginByFacebook()" class="social-login-button pointer"><i class="fab fa-facebook-f"></i></div>
        <div class="social-login-button"><i class="fab fa-google-plus-g"></i></div>
      </div>
      <p>Or use your email account:</p>
      <app-form #form (successValidation)="login($event)" [customSubmitMode]="true" [rules]="getRules()"
                [validationMessages]="getValidationMessages()">

        <div class="field-area">
          <app-input #field [value]="model.email" name="email" placeholder="Email" type="email"></app-input>
        </div>

        <div class="-field-area">
          <app-input #field [value]="model.password" name="password" placeholder="Password" type="password"></app-input>
        </div>

        <a class="forget-pw" href="#">Forget password?</a>
        <div>
          <button #submit class="main-button" type="submit">Sign In</button>
        </div>
        <a class="fbacklink" href="/"> Back to Homepage</a>
      </app-form>
      <span *ngIf="error !=null" style="color: red">{{error}} <br/></span>
    </div>
  </div>
</div>
