.payment {
  background-color: rgb(252, 252, 252);
  margin: 20px;
  box-shadow: 3px 3px #f5f5f5;
  width: 35%;
  position: absolute;
  right: 5%;
  top: 120px;

  &-header {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-family: Myriad-Bold;
  }

  &-price {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & p {
      justify-content: space-between;
      display: flex;
      line-height: 30px;
    }

    & button {
      height: 40px;
    }
  }
}

.total-shopping-field {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid rgb(230, 230, 230);
}

.btn-outline-primary {
  color: #ed1f6c;
  border-color: #ed1f6c;
}

.btn-outline-primary:hover {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
}

.btn-outline-primary:focus {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
  border: none;
}

.show > .btn-outline-primary {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
  border: none;
}

@media only screen and (max-width: 600px) {
  .payment {
    position: relative;
    width: 100%;
    top: 0%;
  }
}
