<div class="payment">
  <div class="payment-header">Shopping Summary</div>
  <div class="payment-price">

    <p><span>Total Product Cost</span><span>{{getTotalProductCost() | currency:'S$'}}</span></p>

    <p *ngIf="getTotalRule() > 0"><span>Discount</span><span>- {{getTotalRule() | currency:'S$'}}</span></p>

    <p><span>Shipping cost</span><span>{{shipmentCost | currency:'S$'}}</span></p>

    <p *ngIf="getPercentageTax(getTotalProductCost() - getTotalRule()) > 0 "><span>Tax</span><span>+ {{
      getPercentageTax(getTotalProductCost() - getTotalRule())
      }} %</span></p>

    <p class="total-shopping-field"><span>Total Shopping</span><span>
        {{
      (getTotalProductCost() - getTotalRule()) + shipmentCost + getTotalTax(getTotalProductCost() - getTotalRule()) | currency:'S$'
      }}
      </span></p>


    <div class="row">
      <div class="col">
        <div class="d-inline-block" ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownBasic1"
                  ngbDropdownToggle>{{paymentContent?.name}}</button>
          <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
            <button (click)="getPayment(item)" *ngFor="let item of paymentContents"
                    class="dropdown-item">{{item.name}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
