.search-header {
  display: flex;
  align-items: center;

  &__logo {
    max-width: 120px;
  }
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;

  & a {
    border: none;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 21px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 300px;
  height: 100%;
  margin: 0 0 0 -50px;
  top: 0;
  padding: 80px;
  padding-top: 25px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.dropdown {
  font-family: 'Myriad-Regular';
  background-color: #f7f7f7;
  border: 1px solid #ed1f6c;
  height: 40px;
  z-index: 1;
  position: relative;

}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: black;
  text-transform: capitalize;
  padding: 9.5px 15px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: 40px;
}

.fa-shopping-cart {
  font-size: 20px;
  color: #ed1f6c;
  align-content: center;
  display: flex;
  position: absolute;
  top: 69%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-bar {
  position: relative;
  position: absolute;
  top: 69%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  height: 40px;
  width: 500px;
  border: 1px solid #ed1f6c;
  padding-left: 10px;
}

.fa-search {
  border: 1px solid #ed1f6c;
  align-content: center;
  display: grid;
  justify-content: center;
  background-color: #ed1f6c;
  color: white;
  width: 50px;
  height: 40px;

}

.fa-caret-down {
  color: #ed1f6c;
}

.search-container {
  width: 100%;
}

.search-container input {
  width: 100%
}

.search-container .dropdown {
  float: left;
}

.search-container button {
  float: left;
  outline: 0;
}

.search-container .search-parameter {
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px
}

.mobile-cart .fa-shopping-cart {
  color: #fff;
  margin-top: 0;
  font-size: 20px
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-text {
  justify-content: space-evenly;
  display: flex;
}

#menu {
}

.submit-search {
  border: none
}

.search-row {
  width: 100%
}

@media only screen and (max-width: 600px) {

  input {
    width: 130px;
    margin-right: 0px;
  }
  .search-bar {
  }
  .fa-bars {
    color: white;
  }
  .dropbtn {
    display: none
  }

  .fa-times {
    background-color: transparent;
    position: absolute;
    right: 5%;
    top: 1%;
  }
  .mobile-only {
    display: block
  }
  .desktop-only {
    display: none
  }
  .basic-background-color {
    height: 35px;
  }
  .search-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px
  }
  .search-bar {
    transform: none;
    left: 0;
    position: relative;
  }
}

@media only screen and (min-width: 900px) {
  mat-sidenav-container {
    visibility: hidden;
  }
}
