<div class="header-bar">
  <div class="container">
    <div class="search-header">
      <div class="row search-row">
        <div class="col-sm-3 col-xs-6">
          <img [routerLink]="'/'" alt="Logo" draggable="false" src="../../../../assets/imgs/logo.png" width="100%">
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="search-bar">
            <div class="search-container">
              <form>
                <input [(ngModel)]="searchText" name="search" placeholder="Enter Your Search.." type="text">
                <div class="search-parameter">
                  <div class="dropdown">
                    <button class="dropbtn">CATEGORIES
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a (click)="redirectToCategoryPage(category.name)"
                         *ngFor="let category of categoryContents">{{ category.name }}</a>
                    </div>
                  </div>
                  <button (click)="search()" class="submit-search"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-xs-8">
          <i class="pointer fas fa-shopping-cart desktop-only" routerLink="/cart"><span
            *ngIf="total > 0">{{total}}</span></i>
        </div>
      </div>
    </div>
  </div>
</div>
