.success-payment {
  background-color: rgb(252, 252, 252);
  position: relative;
  width: 40%;
  left: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);

  &-header {
    display: flex;
    flex-direction: row;
    line-height: 60px;
    background-color: rgb(170, 170, 170);
    border-radius: 20px 20px 0px 0px;
    color: green;
    font-size: 20px;

    & img {
      width: 50px;
      height: 40px;
      margin: 10px;
    }

    & p {
      margin-bottom: 0px;
    }
  }

  &-detail {
    padding: 30px;

    & tr {
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .success-payment {
    position: relative;
    width: 90%;
    left: 5%;
  }
}
