<ngx-datatable
  #table
  (page)="list($event.offset)"
  [columnMode]="'force'"
  [count]='total'
  [externalPaging]="true"
  [footerHeight]="50"
  [headerHeight]="50"
  [limit]="pageSize"
  [offset]="page"
  [rowHeight]="'auto'"
  [rows]='contents'
  class='material'>

  <ngx-datatable-column name="ORDER ID">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span [routerLink]="'/order-detail/'+row.id" class="pointer">{{ commontService.shortOrderId(row.id)}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="DATE">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.updatedAt | date }}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="STATUS">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ getStatusText(row.status) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="#">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span [routerLink]="'/invoice/'+row.id" class="pointer">Invoice</span>
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>
