<app-header></app-header>
<div class="add-my-store">


  <app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
            [validationMessages]="getValidationMessages()">
    <div class="form-group">
      {{ errorMessage }}
    </div>
    <div class="background-form">
      <h3>Create your private Store</h3>
      <div class="add-currency">
        <div class="form-control-label">
          <!--Store Name-->
        </div>
        <app-input #field [value]="model.name" inputClass="input-store-name" name="name" placeholder="Store Name"
                   type="text"></app-input>

        <div class="form-control-label">
          <!--NRIC-->
        </div>
        <app-input #field [value]="model.nric" inputClass="input-store-name" name="nric" placeholder="NRIC"
                   type="text"></app-input>

        <div class="form-control-label">
          Logo
        </div>
        <th-upload (file)="handleUploadImageId($event)" [fileType]="'image/x-png,image/gif,image/jpeg'"
                   class="button-create" [valueShown]="false" *ngIf="!imageId"></th-upload>

        <div *ngIf="imageId" class="container">
          <img [src]="fileService.generateImagePathById(imageId)" alt="" style="width: 200px;"/>
          <div class="centered pointer" (click)="imageId=null"><i class="fa fa-times" aria-hidden="true"
                                                             style="color: red; font-size: 20px"></i></div>
        </div>

        <div class="form-control-label">
          Header
        </div>
        <small style="color: red">*optimal header image size 300px x 1400px</small>
        <th-upload (file)="handleUploadHeaderImageId($event)" [fileType]="'image/x-png,image/gif,image/jpeg'"
                   class="button-create" [valueShown]="false" *ngIf="!headerImageId"></th-upload>

        <div *ngIf="headerImageId" class="container">
          <img [src]="fileService.generateImagePathById(headerImageId)" alt="" style="width: 200px;"/>
          <div class="centered pointer" (click)="headerImageId=null"><i class="fa fa-times" aria-hidden="true"
                                                                  style="color: red; font-size: 20px"></i></div>
        </div>

        <div class="form-control-label">
          Description
        </div>

        <app-ckeditor #field [(value)]="model.description" [config]="ckEditorConfig" name="description"></app-ckeditor>


        <app-button #submit btnClass="button-create btn btn-main btn-block" class="btn-tab " type="submit">CREATE
        </app-button>
      </div>
    </div>
  </app-form>

</div>
<app-footer></app-footer>
