<div class="container">
  <div class="row">
    <div *ngFor="let product of contents" class="col-sm-3 product-item">
      <app-product-item [product]="product" [routerLink]="'/product/'+product.id"></app-product-item>
    </div>
  </div>
</div>
