.add-currency {
  line-height: 40px;
  padding: 20px;
}

.background-form {
  background-color: rgba(49, 49, 49, 0.171);
  margin: auto;
  width: 50%;
  border-radius: 15px;
}

h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.add-my-store {
  position: relative;
  margin-top: 0px;
  margin-bottom: -20px;
  background-image: url('../../../../assets/imgs/background-create-store.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}

app-button {
  position: relative;
  left: 45%;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .add-currency {
    width: 90%;
    position: relative;
  }

  app-button {
    position: relative;
    left: 35%;
    margin-top: 20px;
  }

  .background-form {
    width: 100%;
  }
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
