<div class="order-item">
  <div class="order-item-header">Shopping Details</div>
  <div class="order-item-merchant">
    <i class="fas fa-store"></i> {{merchantContent.name}}
  </div>
  <div *ngFor="let item of item.orderItems" class="order-item-detail">
    <div class="order-item-price">
      <img [src]="fileService.generateImagePathById(item?.imageId)" alt=""/>
      <p class="name-merchant"> {{item.productName}} {{item.description}}</p>

      <p>{{item.price * item.quantity | currency:'S$'}}</p>
    </div>
      <small>Quantity : {{item.quantity}}</small>

    <ul *ngFor="let attribute of productAttributes">
      <li>{{attribute.attributeName}} : {{attribute.attributeValue}}</li>
    </ul>


  </div>
  <br/>

  <div class="courier">
    <div class="row">
      <div class="col">
        <div class="d-inline-block" ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownBasic1"
                  ngbDropdownToggle>{{shipmentContent.name}}</button>
          <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
            <button (click)="getShipment(item)" *ngFor="let item of shipmentContents"
                    class="dropdown-item">{{item.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <span>{{shipmentContent?.cost | currency:'S$'}} </span>
  </div>

  <div class="courier">
    <div class="row">
      <div class="col">
        <div class="d-inline-block" ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{addressContent.name}}</button>
          <div aria-labelledby="dropdownBasic1" class="dropdown-address" ngbDropdownMenu>
            <button (click)="getAddress(item)" *ngFor="let item of addressContents" class="dropdown-item">
              <div class="name-address">{{item.name}}</div>
              {{item.streetName}} {{item.unitNumber}}  {{item.city}}  {{item.unitNumber}}, {{item.postalCode}}
              ,  {{item.country}}, {{item.detail}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
