.order-item {
  background-color: rgb(252, 252, 252);
  width: 55%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);

  &-header {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-family: Myriad-Bold;
  }

  &-merchant {
    border: 1px solid rgb(230, 230, 230);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  &-detail {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(230, 230, 230);
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    position: relative;
  }

  &-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: 13px;

    & img {
      width: 60px;
      height: 60px;
    }
  }
}

.btn-outline-primary {
  color: #ed1f6c;
  border-color: #ed1f6c;
}

.btn-outline-primary:hover {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
}

.btn-outline-primary:focus {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
  border: none;
}

.show > .btn-outline-primary {
  color: white;
  border-color: #ed1f6c;
  background-color: #ed1f6c;
  border: none;
}

input {
  width: 60px;
  height: 18px;
}

.name-merchant {
  left: 13%;
  position: absolute;
}

.amount-of-purchase {
  border: 1px solid rgb(230, 230, 230);
  position: absolute;
  left: 15%;
  bottom: 21%;

  & button {
    width: 22px;
    height: 22px;
    position: relative;
  }
}


.courier {
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  position: relative;

  & p {
    font-size: 13px;
  }
}

.dropdown-item {
  color: grey;
}

.name-address {
  color: black;
}


@media only screen and (max-width: 600px) {

  .order-item {
    width: 100%;
  }

  .dropdown-menu {
    width: 280px;
    overflow: auto;
    white-space: nowrap;
  }

  .dropdown-item {
    margin-right: 10px;
  }

}


@media only screen and (max-width: 1200px) {

  .name-merchant {
    margin-left: 35px;
  }
}
