// .store-list {
//   margin: 5% 5% 0 21%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

ngx-datatable{
  margin-left: 20%;
}

.pointer{
  img{
    margin-right: 10px;
  }
}

.text-center {
  margin-left: 20%;
  margin-top: 15%;

  & p {
    font-size: 25px;
  }

  & b {
    font-size: 25px;
  }
}

.new-store-button {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 15px;
  margin-left: 41%;
  width: 200px;
  border-radius: 5px;
  background: #f26f97;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  border: 2px solid #f26f97;
  transition: 200ms;
}

.new-store-button:hover {
  color: #f26f97;
  background: #fff;
  transition: 200ms;
  cursor: pointer
}

// .pointer p {
//   text-align: center;
// }

@media only screen and (max-width: 991px) {

  ngx-datatable {
    margin-left: 0;
  }
}