<app-merchant-info [content]="contents" [editable]="true"></app-merchant-info>

<!-- <div *ngIf="contents !=null" class="store-list grea">
  <div *ngFor="let content of contents" class="item">
    <div [routerLink]="'/my-store/invoice/'+content.id" class="pointer">
      <img [src]="fileService.generateImagePathById(content.imageId)" style="width: 100px"/>
      <p>{{content.name}}</p>
    </div>
  </div>
</div> -->

<ngx-datatable 
  #table
  (page)="list($event.offset)"
  [columnMode]="'force'"
  [count]='total'
  [externalPaging]="true"
  [footerHeight]="50"
  [headerHeight]="50"
  [limit]="pageSize"
  [offset]="page"
  [rowHeight]="'auto'"
  [rows]='contents'
  class='material'>

    <ngx-datatable-column name="STORE NAME">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="pointer" [routerLink]="'/my-store/invoice/'+row.id">
          <img [src]="fileService.generateImagePathById(row.imageId)" alt=""
              width="50 ">
          <span>{{ row.name }}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="CREATED AT">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row.createdAt | date }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="STATUS">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ getStatusText(row.status) }}
      </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="contents ==null" class="text-center">
  <p>You don't have a Store</p>
  <b>Create Your Store here</b>
  <div class="text-center new-store-button" [routerLink]="'/my-store/create'" (click)="registerAsMerchant()">
    Open New Store
  </div>
</div>
