#invoice {
}

.invoice {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;

  &-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-detail {
    display: flex;
    justify-content: space-between;

    & p {
      line-height: 10px;
      font-size: 18px;
    }

    &-user {
      justify-content: space-around;
    }
  }
}

.proof-of-payment {
  margin-top: 50px;
}

.price {
  text-align: right;
}

table {
  width: 100%;
  line-height: 30px;

  & th {
    text-align: center;
  }

  & td {
    padding-left: 10px;
    padding-right: 10px;
  }
}
