<div style="display: flex; justify-content: center">
  <i (click)="print()" aria-hidden="true" class="fa fa-print pointer" style="font-size: 30px; color: #5b1013;
position:
fixed;"></i>

</div>

<div class="invoice" id="invoice">
  <div class="invoice-header">
    <img src="../../../../assets/imgs/logo.png" alt="">
    <div>Transaction #{{commonService.shortOrderId(contents?.id)}}</div>
  </div>
  <div class="invoice-detail">
    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>:</td>
          <td>{{content?.username}}</td>
        </tr>
        <tr>
          <td>Number Phone</td>
          <td>:</td>
          <td>{{ content?.phone }}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>:</td>
          <td>{{address?.city}}, {{address?.country}}, {{address?.streetName}}, {{address?.unitNumber}},
            {{address?.postalCode}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="proof-of-payment">
    <div>
      <h3>proof of payment</h3>
    </div>
    <p>Dear {{content?.firstName}}{{content?.lastName}},</p>
    <table *ngFor="let merchant of contents?.orderMerchantGroups" border="1">
      <tr>
        <th colspan="8">Proof of payment</th>
      </tr>
      <tr>
        <td colspan="2">Time of Transaction</td>
        <td colspan="6"><b>{{contents?.updatedAt | date}}</b></td>
      </tr>
      <tr>
        <td colspan="2">Buyer</td>
        <td colspan="6"><b>{{content?.firstName}}{{content?.lastName}}</b></td>
      </tr>
      <tr>
        <td colspan="2">Shipping destination</td>
        <td colspan="6"><b>{{content?.firstName}}{{content?.lastName}}</b><br>{{address?.city}}, {{address?.country}},
          {{address?.streetName}}, {{address?.unitNumber}}, {{address?.postalCode}}</td>
      </tr>
      <tr>
        <th colspan="8">Transaction</th>
      </tr>
      <tr>
        <td colspan="2">merchant</td>
        <td colspan="6"><b>{{merchantMapToId.get(merchant?.merchantId)?.name}}</b></td>
      </tr>
      <tr>
        <th colspan="4">Name</th>
        <th colspan="1">Total</th>
        <th colspan="3">Price</th>
      </tr>
      <tr *ngFor="let item of merchant.orderItems">
        <td colspan="4">{{item?.productName}}</td>
        <th colspan="1">{{item?.quantity}}</th>
        <td class="price" colspan="3">{{item?.price | currency:'S$'}}</td>
      </tr>
      <tr>
        <th colspan="8">Cost breakdown</th>
      </tr>
      <tr>
        <td colspan="5">Total Price of Items</td>
        <td class="price" colspan="3">{{getTotalProductCost() | currency:'S$'}}</td>
      </tr>

      <tr>
        <td colspan="5">Shipping cost</td>
        <td class="price" colspan="3">{{merchant.shipmentCost | currency:'S$'}}</td>
      </tr>
      <tr>
        <td colspan="5">Special Discounts(Borne by Aimaimai)</td>
        <td class="price" colspan="3">- {{getTotalRule() | currency:'S$'}}</td>
      </tr>
      <tr>
        <td colspan="5"><b>TOTAL PAYMENT</b></td>
        <td class="price"
            colspan="3">{{orderPaymentContent?.totalCost | currency:'S$'}}
        </td>
      </tr>
    </table>
  </div>
</div>
