<div class="popular">
  <div class="popular__title">
    <h1 class="basic-color-yellow">MOST POPULAR</h1>
    <a [routerLink]="'/products/popular'">
      <span>SEE ALL</span>
      <i class="fas fa-chevron-right basic-color-pink"></i>
    </a>
  </div>
  <div *ngFor="let content of contents" class="populer-item">
    <app-popular-item [product]="content"></app-popular-item>
  </div>
</div>