.popular {
  margin-left: 5%;
  margin-right: 5%;
}

.popular__title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Myriad-Regular';

  h1 {
    width: 100%;
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;

    span {
      white-space: nowrap;
      margin-right: 10px;
    }
  }
}

.populer-item {
  display: inline-flex;
}

h1 {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
