<div class="add-address">

  <app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
            [validationMessages]="getValidationMessages()">
    <div class="form-group">
      {{ errorMessage }}
    </div>
    <h3 class="center">Create your Address</h3>
    <div>
      <div class="field-area">
        <app-input #field [value]="model.name" class="full-field" name="name" placeholder="Name"
                   type="text"></app-input>
      </div>

      <div class="field-area">
        <app-input #field [value]="model.city" class="full-field" name="city" placeholder="City"
                   type="text"></app-input>
      </div>

      <div class="field-area">
        <app-input #field [value]="model.country" class="full-field" name="country" placeholder="Country"
                   type="text"></app-input>

      </div>

      <div class="field-area">
        <app-input #field [value]="model.streetName" class="full-field" name="streetName" placeholder="Street Name"
                   type="text"></app-input>
      </div>

      <div class="field-area">
        <app-input #field [value]="model.unitNumber" class="halfwidth-field" name="unitNumber" placeholder="Unit Number"
                   type="number"></app-input>
        <app-input #field [value]="model.postalCode" class="halfwidth-field" name="postalCode" placeholder="Postal Code"
                   type="number"></app-input>

      </div>


      <app-textarea #field [value]="model.detail" name="detail" placeholder="Detail" type="text"></app-textarea>
      <div class="button-address">
        <app-button #submit btnClass="add-button btn btn-outline-dark" class="btn-tab " type="submit">CREATE
        </app-button>
        <button [routerLink]="'../../profile'" class="btn btn-outline-dark" type="button">Cancel</button>
      </div>
    </div>
  </app-form>
</div>
