.add-address {
  position: relative;
  width: 60%;
  left: 20%;
}

.center {
  padding-bottom: 10px;
}

.button-address {
  justify-content: center;
  display: flex;
  padding: 20px;

  & app-button {
    margin-right: 20px;
  }
}

.halfwidth-field {
  width: 50%;
  display: inline-block;
}

.input .full {
  width: 100%;
  border-bottom: 2px solid white;
}

.add-button {
  border: none;
}

@media only screen and (max-width: 600px) {

  .halfwidth-field {
    width: 100%;
    border-right: 1px solid #fff;
    margin-bottom: 12px;
  }

  .add-address {
    position: relative;
    width: 100%;
    left: 0%;
    padding: 12px;
  }
}
