<div class="quantity-field-area">
  <app-button (click)="remove($event)"
              btnClass="button h100 quantity-btn"
              type="button">
    <i class="material-icons">remove</i>
  </app-button>
  <app-input (keyup)="change($event)"
             [(value)]="value"
             type="number"></app-input>
  <app-button (click)="add($event)"
              btnClass="button h100 quantity-btn"
              type="button">
    <i class="material-icons">add</i>
  </app-button>
</div>
<div class="field-error">
  {{errorMessage}}
</div>
