<div class="edit-account">
  <div class="edit-account-general-information">
    <div class="edit-account-header border-bottom">
      <h1>General information</h1>
      <button (click)="edit = true" *ngIf="!edit" class="basic-background-color">Edit</button>
    </div>
    <div *ngIf="!edit" class="edit-account-detail">
      <div class="border-bottom"><span class="col-xs-6">Profile picture</span><span
        class="edit-account-detail-fill col-xs-6"><img src="../../../../assets/imgs/photo-profile.jpg"></span></div>
      <div class="border-bottom"><span class="col-xs-6">Username</span><span
        class="edit-account-detail-fill col-xs-6">{{ content?.username }}</span>
      </div>
      <div class="border-bottom"><span class="col-xs-6">First Name</span><span
        class="edit-account-detail-fill col-xs-6">{{ content?.firstName }}</span>
      </div>
      <div><span class="col-xs-6">Last Name</span><span
        class="edit-account-detail-fill col-xs-6">{{ content?.lastName }}</span>
      </div>
    </div>
    <div *ngIf="edit" style="padding: 12px">
      <app-edit-account-field (success)="setEdit($event)"></app-edit-account-field>
    </div>
  </div>
  <div *ngIf="!edit" class="edit-account-email-telephone">
    <div class="edit-account-header border-bottom">
      <h1>E-mail and Telephone</h1>
    </div>
    <div *ngIf="!edit" class="edit-account-detail">
      <div class="border-bottom"><span>E-mail</span><span
        class="edit-account-detail-fill">{{ register?.email }}</span></div>
      <div><span>Telephone</span><span class="edit-account-detail-fill">{{ content?.phone }}</span></div>
    </div>
  </div>
  <div *ngIf="!edit" class="edit-account-password">
    <div class="edit-account-header border-bottom">
      <h1>Password</h1>
    </div>
    <div class="edit-account-detail">
      <div><span>Password</span><span class="edit-account-detail-fill">Last change September 20, 2018</span></div>
    </div>
  </div>
</div>
