.edit-account {
  margin-top: 20px;
  margin-left: 5%;
  line-height: 60px;
  margin-right: 5%;
  align-content: center;
  margin-top: 32px;

  &-general-information {

    & img {
      width: 40px;

    }
  }

  &-header {
    display: flex;
    justify-content: space-between;

    & h1 {
      font-size: 20px;
      font-weight: bold;
    }

    & button {
      width: 70px;
      color: white;
      font-size: 13px;
      line-height: 30px;
      border: none;
      margin-bottom: 10px;
    }
  }

  &-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & span {
      margin-left: 5%;
    }

    &-fill {
      color: gray;
      position: absolute;
      left: 20%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .edit-account-detail-fill {
    left: 35%;
    font-size: 80%;
  }
}
