<div [routerLink]="'product/'+productCategory.productId" class="bestseller-item pointer">
  <div class="bestseller-item-detail">
    <img [src]="fileService.generateImagePathById(imageId)" alt=""/>
    <p class="product-name">{{productCategory.productName}}</p>
    <p class="price-product">{{productIdToMap.get(productCategory.productId)?.price | currency:'S$'}}</p>
  </div>
</div>
