img {
  width: 200px;
  height: 200px;
  border: 4px solid #ed1f6c;
}

.bestseller-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &-detail {
    width: 250px;
  }
}

.product-name {
  font-size: 18px;
  width: 200px;
  color: white;
}

.price-product {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
