<div class="dropdown-wrapper">
  <div (click)="toggleDropdown($event)"
       [class.dropdown-error]="errorMessage"
       class="dropdown-input">
    <input [(value)]="text" [placeholder]="placeholder"
           class="input"
           disabled="true"
           type="text"/>
    <span (click)="closeDropdown($event)" *ngIf="dropdownOpened" class="fa fa-angle-up"></span>
    <span (click)="openDropdown($event)" *ngIf="!dropdownOpened" class="fa fa-angle-down"></span>

  </div>
  <div *ngIf="items.length == 0 && dropdownOpened" class="dropdown-area">
    No Result Found
  </div>
  <div *ngIf="dropdownOpened" class="dropdown-area">
    <div (click)="triggerDropdownItemClick(item ,$event.target.innerText)"
         *ngFor="let item of items"
         class="dropdown-area-item">
      <ng-template [ngTemplateOutletContext]="{item: item}" [ngTemplateOutlet]="itemTemplate"></ng-template>
    </div>
  </div>
  <div class="help-block text-danger">
    {{ errorMessage }}
  </div>
</div>
