.dropdown {
  &-input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border: 1px solid lightgray;

    > input {
      width: 100%;
      box-sizing: border-box;
      background: white;
      display: inline-block;
      border: 0;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-error {
    border: 1px solid red;
  }

  &-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 220px;
  }

  &-not-found {
    position: absolute;
    padding: 12px;
    background: white;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid lightgray;
  }

  &-area {
    position: absolute;
    background: white;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1;
    width: 100%;
    border: 1px solid lightgray;

    &-item {
      padding: 12px;

      &:hover {
        cursor: pointer;
        background: whitesmoke;
      }

      &.disabled {
        background: darkgray;

        &:hover {
          cursor: no-drop;
        }
      }
    }
  }
}

.field {
  position: relative;
}

app-input[class="selected"] > .field > input {
  background: whitesmoke;
}
