<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">
  <div class="field-error">
    {{ errorMessage }}
  </div>

  <div class="modal-header">
    <h4 class="modal-title">Set Discount</h4>
    <button (click)="ngActiveModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="add-currency">

      <app-input #field [value]="content?.discount?.discount" name="discount" placeholder="" type="number"></app-input>

      <!--<div class="field-label">-->
      <!--Period-->
      <!--</div>-->
      <!--<app-input #field [value]="content?.discount?.period" name="period" placeholder="" type="date"></app-input>-->

    </div>

  </div>
  <div class="modal-footer">
    <app-button #submit btnClass="btn btn-main btn-block" class="btn-tab" type="submit">Save</app-button>
    <button (click)="ngActiveModal.dismiss()" class="btn btn-outline-dark" type="button">Cancel</button>
  </div>
</app-form>
