<app-merchant-info [content]="content" [editable]="true"></app-merchant-info>

<div class="transaction">
  <div class="header">
    Transaction
  </div>
  <div class="transaction-detail">
    <b>Check your transaction</b>
    <p class="border-bottom"><span>Sales</span><span class="basic-color-pink">{{total}}</span></p>
    <!-- <p class="transaction-detail-sub-seles"><span>Last 7 Days Sales</span><span>0</span></p> -->
    <!-- <p class="transaction-detail-sub-seles"><span>Last Month Sales</span><span>0</span></p> -->
    <!-- <p class="border-bottom"><span>value of sales</span><span class="basic-color-pink">0</span></p> -->
    <!-- <p class="transaction-detail-sub-seles"><span>Last 7 Days Total Sales</span><span>SG</span></p> -->
    <!-- <p class="transaction-detail-sub-seles"><span>Last Month Total Sales</span><span>SG</span></p> -->
    <p class="border-bottom"><span>Return discussion</span><span class="basic-color-pink">0</span></p>
    <p class="border-bottom"><span>Bill</span><span class="basic-color-pink">0</span></p>
    <p><span>Purchase</span><span class="basic-color-pink">0</span></p>
  </div>
</div>
<!-- <div class="items">
  <div class="header">
    Items
  </div>
  <div class="items-detail">
    <p class="border-bottom"><span>Items selling</span><span class="basic-color-pink">0</span></p>
    <p class="border-bottom"><span>Items not selling</span><span class="basic-color-pink">0</span></p>
    <p class="border-bottom"><span>Favorite items</span><span class="basic-color-pink">0</span></p>
  </div>
</div> -->
