.transaction {
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);
  margin-left: 21%;
  margin-right: 3%;
  line-height: 50px;

  &-detail {
    padding: 15px;

    & b {
      font-size: 15px;
      margin-left: 0px;
    }

    & p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-sub-seles {
      margin-left: 10px;
      color: grey;
    }
  }
}

.items {
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);
  margin-left: 9%;
  margin-right: 9%;
  line-height: 50px;

  & div {
    padding: 15px;

    & p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.header {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
  font-family: Myriad-Bold;
}


.item {
  background-color: #fdfdfd;
  margin: 20px;
  padding: 10px;
}

@media only screen and (max-width: 991px) {

  .transaction {
    margin-left: 3%;
    margin-right: 3%;
  }
}