<app-modal *ngIf="opened" [(opened)]="opened" [title]="title">
  <div class="confirm-dialog-content">
    <ng-content></ng-content>
  </div>
  <div class="confirm-dialog-actions">
    <app-button (click)="triggerYes($event)" btnClass="btn btn-primary">Yes</app-button>
    <app-button (click)="triggerCancel($event)" btnClass="btn btn-danger">Cancel</app-button>
  </div>
</app-modal>
