<div class="field-label">
  Attribute
</div>

<div style="width: 205px;">
  <app-search2 #field [(value)]="content" name="attributeName" placeholder="Search.." valueIndex="name"
               inputClass="inputvalue"
               textIndex="name"
               [(items)]="contents"
               [(total)]="total"
               [authKeyNeeded]="false"
               (needSearch)="handleDataChange($event)">
    <ng-template let-item="item">
      <div class="av-form-dropdown">
        {{item.name}}
      </div>
    </ng-template>
  </app-search2>
  <div style="display: flex;">
    <app-input #value name="value" type="text" placeholder="value" inputClass="inputvalue"></app-input>
    <app-input #quantity name="quantity" type="hidden" placeholder="quantity" inputClass="inputvalue"></app-input>
    <app-input #additionalPrice name="price" type="number" placeholder="additional price"
               inputClass="inputvalue"></app-input>

    <button class="btn btn__primary" type="button"
            (click)="add(content, value.value, quantity.value, additionalPrice.value)">Add
    </button>
  </div>
</div>
