<div class="tabs-header">
  <div (click)="clickTab(item.getIndex())" *ngFor="let item of items"
       [class.selected]="currentTabIndex == item.getIndex()"
       class="tabs-header-item">
    {{ item.getTitle() }}
  </div>
</div>
<div class="tabs-body">
  <div *ngFor="let item of items"
       class="tabs-item"
       [class.hide]="currentTabIndex != item.getIndex()"
       [innerHTML]="item.getElement()">
  </div>
</div>
