.address {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  line-height: 50px;

  &-detail {
    margin-top: 20px;
    box-shadow: 3px 3px rgb(245, 245, 245);
  }
}

b {
  font-size: 22px;
  margin-left: 9%;
  line-height: 50px;
}


button {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.edit-button {
  margin-left: 20px;
}

.pointer {
  display: contents;

  & span {
    margin-left: 20px;
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.btn-outline-primary {
  color: #ed1f6c;
  border-color: #ed1f6c;
  margin-top: 20px;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #ed1f6c;
}

.primary-button {
  background-color: #ed1f6c;
  color: white;
}

.secondary-button {
  background-color: rgb(228, 227, 227);
}
