<div class="address">

  <button [routerLink]="'create-address'" class="btn btn-outline-primary basic-color-pink">Create Address</button>
  <div class="address-detail">
    <div *ngFor="let content of contents" class="item">
      <div [routerLink]="'address/'+content.id" class="pointer">
        <div>{{content.name}}</div>
        <div>
          {{content.city}}, {{content.country}}, {{content.detail}}, {{content.streetName}},
          {{content.unitNumber}}, {{content.postalCode}}
        </div>
      </div>
      <div>
        <button (click)="setPrimary(content)" *ngIf="content.status==10" class="primary-button">Primary</button>
        <button (click)="setPrimary(content)" *ngIf="content.status==11" class="secondary-button">Secondary</button>
        <button (click)="editAddress(content)" class="edit-button"><i class="fas fa-pencil-alt"></i>Edit</button>
        <!-- <button class="" (click)="deleteAddressConfirm(content)">Delete</button> -->
      </div>
    </div>
  </div>
</div>
