.coupon-input {
  margin-top: 10px;
}

.coupon-input p {
  text-align: left;
  margin-bottom: 2px
}

.coupon-field {
  display: flex;

  button {
    width: 70px;
  }
}

.add-button {
  height: 45px;
}
