<div class="coupon-input">
  <p class="coupon-label">Enter your coupon</p>
  <app-form #form (successValidation)="getCoupon($event)" [authKeyNeeded]="false" [customSubmitMode]="true"
            [rules]="getRules()" [validationMessages]="getValidationMessages()">
    <div class="field-error">
    </div>
    <div class="coupon-field">
      <app-input #field [value]="couponCode" class="coupon-field-input" inputClass="no-padding coupon-field-input"
                 name="couponCode" placeholder="Enter Coupon Here" type="text"></app-input>
      <button class="add-button">Apply</button>
    </div>
  </app-form>
</div>
