
b {
  font-size: 22px;
  margin-left: 9%;
}

.account {
  margin-left: 9%;
  margin-right: 9%;
  border-bottom: 1px solid rgb(224, 223, 223);
  background-color: rgb(247, 247, 247);

  &-detail {
    border: 1px solid rgb(224, 223, 223);
    padding: 15px;

    & b {
      font-size: 18px;
      margin-left: 0px;
    }

    & td {
      padding: 5px;
    }

    & button {
      width: 70px;
      font-size: 12px;
      align-content: center;
      background-color: white;
    }

    & img {
      width: 35px;
      margin-right: 5px;
    }

    &-2 {
      font-size: 15px;
      font-family: Myriad-Regular;

      & a:hover {
        color: #ed1f6c;
      }
    }

  }

  &-credits-balance p {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.transaction {
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);
  margin-left: 9%;
  margin-right: 9%;
  line-height: 50px;

  &-detail {
    padding: 15px;

    & b {
      font-size: 15px;
      margin-left: 0px;
    }

    & p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-sub-seles {
      margin-left: 10px;
      color: grey;
    }
  }
}

.items {
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  box-shadow: 3px 3px rgb(245, 245, 245);
  margin-left: 9%;
  margin-right: 9%;
  line-height: 50px;

  & div {
    padding: 15px;

    & p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.header {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
  font-family: Myriad-Bold;
}

@media only screen and (min-width: 1000px) {
  .account-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.address {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 50px;
}

button {
  width: 20%;
  align-self: center;
}

.pointer {
  background-color: #f7f7f7;
  padding: 10px;
  box-shadow: 3px 3px rgb(245, 245, 245);
}

.item {
  background-color: #fdfdfd;
  margin: 20px;
  padding: 10px;
}

.gm-address {
  margin-top: 32px;
}
