<div class="gm-address fix-width">
  <ngb-tabset>
    <ngb-tab title="Account">
      <ng-template ngbTabContent>
        <app-my-profile></app-my-profile>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Address">
      <ng-template ngbTabContent>
        <app-address></app-address>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Orders">
      <ng-template ngbTabContent>
        <app-list-order></app-list-order>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
