<app-form #form (successValidation)="add($event)" [customSubmitMode]="true" [rules]="getRules()"
          [validationMessages]="getValidationMessages()">
  <div class="field-error">
    {{ errorMessage }}
  </div>

  <app-input #field [value]="content.id" name="id" type="hidden"></app-input>

  <div class="edit-general-information">

    <div class="field-label">
      First Name
    </div>
    <app-input #field [value]="content.firstName" name="firstName" placeholder="" type="text"></app-input>

    <div class="field-label">
      Last Name
    </div>
    <app-input #field [value]="content.lastName" name="lastName" placeholder="" type="text"></app-input>

    <div class="field-label">
      Telepohone
    </div>
    <app-input #field [value]="content.phone" name="phone" placeholder="" type="number"></app-input>
  </div>
  <div class="button-field-center">
    <app-button #submit btnClass="add-button btn btn-block" class="add-button btn-tab" type="submit">Edit</app-button>
    <button (click)="cancel()" class="btn btn-outline-dark" type="button">Cancel</button>
  </div>
</app-form>
