/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/index.css';


@font-face {
  font-family: Myriad-Regular;
  src: url(assets/font/MyriadPro-Regular.woff) format("woff");
}

@font-face {
  font-family: Myriad-Bold;
  src: url(assets/font/MyriadPro-Bold.woff) format("woff");
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

.basic-color-pink {
  color: #ed1f6c;
}

.basic-background-color {
  background-color: #ed1f6c;
}

.basic-color-star {
  color: yellow;
}

.basic-color-white {
  color: white;
  font-family: Myriad-Regular;
}

.basic-color-yellow {
  color: #fac739;
}

button {
  cursor: pointer;
  outline: 0;
}

a {
  text-decoration: none;
  color: grey;
  border-bottom: 1px solid grey;
}

b {
  line-height: 30px;
  font-family: Myriad-Bold;
}

p {
  font-family: Myriad-Regular;
}

input {
  padding-left: 10px;
}

h1 {
  font-family: Myriad-Regular;
}

.mobile-only {
  display: none
}

.desktop-only {
  display: block
}

.border-bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.border-bottom-top {
  border-bottom: 1px solid rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
}

a {
  border: none;
}

.field-error {
  color: red;
}

.field-area {
  margin-bottom: 12px;
}

.add-button {
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  border: none;
  color: white;
  margin-right: 10px;
}

.button-field-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.img {
  width: 200px;
  height: 200px;
}

.btn-primary {
  background-image: linear-gradient(#ed1f6c, #fa95ba);
  border: none;
}

.btn-primary:hover {
  color: #ed1f6c;
  border: 1px solid #ed1f6c;
  background-color: white;
  border: none;
}

@media only screen and (max-width: 600px) {
  .mobile-only {
    display: block
  }
  .desktop-only {
    display: none
  }
}

.pointer {
  cursor: pointer;
  border-color: blue;
}

.item {
  padding-right: 12px;
}

.fix-width {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.center {
  text-align: center;
}

.nav-link {
  color: #ed1f6c;
}

a {
  color: #ed1f6c;
}

.field-label {
  line-height: 50px;
}

.body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  outline: none;
}
