<div class="success-payment">
  <div *ngIf="content?.status == 10" class="success-payment-header">
    <img src="../../../../assets/imgs/tick.jpg">
    <P>PAYMENT {{getStatusText(content?.status)}}!</P>
  </div>
  <div *ngIf="content?.status == 0" class="success-payment-header">
    <img src="../../../../assets/imgs/cross.png">
    <P class="cancel-payment-header">PAYMENT {{getStatusText(content?.status)}}!</P>
  </div>
  <div *ngIf="content?.status == 11" class="success-payment-header">
    <img src="../../../../assets/imgs/clock.svg">
    <P class="pending-payment-header">PAYMENT {{getStatusText(content?.status)}}!</P>
  </div>
  <div class="success-payment-detail">
    <table>
      <tr>
        <td>Order Id</td>
        <td>:&nbsp;</td>
        <td [routerLink]="'/order-detail/'+content?.orderId" class="pointer">{{content?.orderId}}</td>
      </tr>
      <tr>
        <td>Payment Method</td>
        <td>:&nbsp;</td>
        <td>{{content?.paymentMethod}}</td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>:&nbsp;</td>
        <td>{{content?.totalCost}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>:&nbsp;</td>
        <td>
          {{getStatusText(content?.status)}}
          <span *ngIf="content?.status == 11"><a (click)="pay(content?.orderId)" class="pointer">Pay</a></span>
        </td>
      </tr>
      <tr *ngIf="content?.status == 11">
        <td>Status</td>
        <td>:&nbsp;</td>
        <td (click)="pay(content?.orderId)" class="pointer">
          Pay with {{content?.paymentMethod}}
        </td>
      </tr>
    </table>
  </div>
</div>
