<div class="credit-wallet">
  <h1>Credit Wallet</h1>
  <p>Check How much Credit you have accumulated</p>
  <div class="credit-wallet-detail">
    <p>Total Number of Credit</p>
    <h2 class="basic-color-white">SG 0</h2>
  </div>
  <table class="credit-wallet-table">
    <tr class="credit-wallet-head-table">
      <td>DATE</td>
      <td>TRANSACTION DETAIL</td>
      <td>CHANGE</td>
      <td>BALANCE</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>