.credit-wallet {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f7f7f7;
  padding: 20px;
  line-height: 30px;

  & h1 {
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }

  &-detail {
    margin-left: 15px;
    text-align: center;
    background-color: #ed1f6c;
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;

    & p {
      position: relative;
      top: 30%;
    }

    & h2 {
      position: relative;
      top: 20%;
    }
  }

  &-table {
    width: 100%;
    border: 1px solid #e4e4e4;

    & td {
      font-size: 75%;
    }
  }

  &-head-table {
    background-color: #e4e4e4;

    & td {
      padding: 10px;
    }
  }
}
