<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="tittle">CUSTOMER SERVICE</p>
        <p [routerLink]="'/my-inquiries'" class="pointer">My Inquiries</p>
        <p [routerLink]="'/faq'" class="pointer">FAQ</p>
        <p [routerLink]="'/help-topics'" class="pointer">Help Topics</p>
        <p [routerLink]="'/user-agreement'" class="pointer">User Agreement</p>
        <p [routerLink]="'/privacy-policy'" class="pointer">Privacy policy</p>
        <p [routerLink]="'/contact-us'" class="pointer">Contact us</p>
        <p [routerLink]="'/security-and-resolution-center'" class="pointer">Security & Resolution Center</p>
        <p [routerLink]="'/safe-program'" class="pointer">safe Program</p>
      </div>

      <div class="col-sm-3">
        <p class="tittle">ABOUT US</p>
        <p [routerLink]="'/about-aimaimai'" class="pointer">About Aimaimai</p>
        <p [routerLink]="'/terms-and-conditions'" class="pointer">Terms & Conditions</p>
        <p [routerLink]="'/privacy-statement'" class="pointer">Privacy Statement</p>
        <p [routerLink]="'/press-and-media'" class="pointer">Press & Media</p>
        <p [routerLink]="'/all-brands'" class="pointer">All Brands</p>
        <p [routerLink]="'/sitemap'" class="pointer">Sitemap</p>
      </div>

      <div class="col-sm-3">
        <p class="tittle">EXCLUSIVE DEALS AND OFFERS!</p>
        <p>Subscribe and instantly get up to 10% off (capped at $5)!</p>

        <div class="form-group">
          {{ errorMessage }}
        </div>
        <div class="email-field">

          <input #email class="input-subscribe-button" name="email" placeholder="ENTER YOUR EMAIL.." type="email">

          <button (click)="subscribe(email.value)" class="basic-background-color">SUBSCRIBE</button>
        </div>
        <p class="tittle">FOLLOW US</p>
        <i class="fab fa-weixin basic-color-pink"></i>
        <i class="fab fa-instagram basic-color-pink"></i>
        <i class="fab fa-twitter basic-color-pink"></i>
        <i class="fab fa-pinterest basic-color-pink"></i>
        <i class="fab fa-facebook basic-color-pink"></i>
      </div>

      <div class="col-sm-3">
        <p class="tittle">PAYMENT METHOD</p>
        <img alt="Payment" class="payment-img" src="../../../assets/imgs/payment.png" width="100%">
        <p class="tittle">DOWNLOAD NOW FOR APP-ONLY DAILY DEALS!</p>
        <img alt="GooglePlay" src="../../../assets/imgs/googleplay.png">&nbsp;&nbsp;
        <img alt="AppStore" src="../../../assets/imgs/appstore.png">
      </div>
    </div>
  </div>
</div>
