
.footer {
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  line-height: 20px;
  margin-top: 20px;
}

.tittle {
  font-family: 'Myriad-Bold';
}

i {
  margin-right: 20px;
  margin-bottom: 1rem;
}

p {
  font-family: 'Myriad-Regular';
}

.email-field input {
  background-color: #222;
  color: white;
  border-radius: 25px 0px 0px 25px;
  height: 50px;
  width: 200px;
  font-size: 11px;
  border: 1px solid #c2c1c1;
  padding-left: 10px;
}

.email-field button {
  margin-left: -30px;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  font-size: 0.6em;
  outline: 0;
}

.field {
  border: none;
  border: 1px solid #c2c1c1;

}

.email-field input::-webkit-input-placeholder {
  color: white;
}

.email-field {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.message-contact-us {
  background-color: transparent;
  border: none;
}

.basic-color-pink {
  cursor: pointer;
}

img {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.payment-img {
  width: 280px;
}

.modal-header {
  & button {
    float: right;
  }
}
