<!--<div class="success-payment">-->
<!--<div class="success-payment-header">-->
<!--<img src="../../../../assets/imgs/cross.png">-->
<!--<P>PAYMENT CANCEL!</P>-->
<!--</div>-->
<!--<div class="success-payment-detail">-->
<!--<table>-->
<!--<tr>-->
<!--<td>Number bill</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>{{content.id}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Name</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>{{content.customerName}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Total Tax</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>SG 10</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Amount</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>SG 100</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Payment Method</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>{{content.paymentMethodId}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Description</td>-->
<!--<td>:&nbsp;</td>-->
<!--<td>Payment for your shopping is canceled</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
