.product-merchant {
  left: 5%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 70%;
  top: 170%;
  justify-content: space-between;

  & b {
    display: inline;
    position: absolute;
  }
}

.product-merchant-detail {
  padding-top: 40px;
  padding-bottom: 100px;
  margin-left: 3%;

  &-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.basic-color-pink {
  font-size: 13px;
}

.img-item {
  position: relative;
}

.fa-search-plus {
  position: absolute;
  right: 0%;
  bottom: 2%;
  font-size: 25px;
}

img {
  width: 200px;
  height: 200px;
}

h2 {
  font-family: Myriad-Regular;
}

.product-merchant {
  display: none
}

@media only screen and (max-width: 600px) {

}
