<div class="product-merchant">
  <b>Products from Aimaimai</b>
  <div class="product-merchant-detail">
    <div class="img-item"><img alt="powerbank" src="../../../../assets/imgs/powerbank.jpg"><i
      class="fas fa-search-plus basic-color-pink"></i></div>
    <p>DAONSHOP</p>
    <div class="product-merchant-detail-price">
      <h2 class="basic-color-pink">$ 19.00</h2>
      <i class="fas fa-truck basic-color-pink"></i>
    </div>
  </div>
  <div class="product-merchant-detail">
    <div class="img-item"><img alt="powerbank" src="../../../../assets/imgs/powerbank.jpg"><i
      class="fas fa-search-plus basic-color-pink"></i></div>
    <p>DAONSHOP</p>
    <div class="product-merchant-detail-price">
      <h2 class="basic-color-pink">$ 19.00</h2>
      <i class="fas fa-truck basic-color-pink"></i>
    </div>
  </div>
  <div class="product-merchant-detail">
    <div class="img-item"><img alt="powerbank" src="../../../../assets/imgs/powerbank.jpg"><i
      class="fas fa-search-plus basic-color-pink"></i></div>
    <p>DAONSHOP</p>
    <div class="product-merchant-detail-price">
      <h2 class="basic-color-pink">$ 19.00</h2>
      <i class="fas fa-truck basic-color-pink"></i>
    </div>
  </div>
  <div class="product-merchant-detail">
    <div class="img-item"><img alt="powerbank" src="../../../../assets/imgs/powerbank.jpg"><i
      class="fas fa-search-plus basic-color-pink"></i></div>
    <p>DAONSHOP</p>
    <div class="product-merchant-detail-price">
      <h2 class="basic-color-pink">$ 19.00</h2>
      <i class="fas fa-truck basic-color-pink"></i>
    </div>
  </div>
</div>
