<div class="field">
    <textarea (keyup)="handleKeyup($event)"
              [(ngModel)]="value"
              [class.disabled]="disabled"
              [class.textarea-error]="errorMessage"
              [placeholder]="placeholder"
              [rows]="rows"
              class="form-control"></textarea>

  <div class="help-block text-danger">
    {{errorMessage}}
  </div>
</div>
