<div style="border:1px solid black; padding: 12px">

  <div class="item" style="margin: 12px">
    <input #file (change)="addAttributeImage()" *ngIf="!attributeImage" accept="image/*" type="file"/>
    <img *ngIf="attributeImage" [src]="_fileService.generateImagePathById(attributeImage)" alt="" width="100"/>
  </div>

  <div style="display: flex">
    <div class="col-sm-3" id="attributeName">
      <app-search2 #name (needSearch)="handleDataChange($event)" [(items)]="contents" [(total)]="total" [(value)]="content"
                   [authKeyNeeded]="false"

                   name="attributeName"
                   placeholder="Search attribute name"
                   textIndex="name"
                   valueIndex="name">
        <ng-template let-item="item">
          <div class="av-form-dropdown">
            {{item.name}}
          </div>
        </ng-template>
      </app-search2>
    </div>
    <app-input #value class="col-sm-4" name="value" placeholder="value" style="padding-left: 12px"
               type="text"></app-input>
  </div>

  <div class="form-group row item">
    <label class="col-sm-3 col-form-label" for="quantity">Quantity</label>
    <div class="col-sm-4">
      <app-input #quantity id="quantity" name="quantity" placeholder="0" type="number"></app-input>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="additionalPrice">Additional Price</label>
    <div class="col-sm-4">
      <app-input #additionalPrice id="additionalPrice" name="additionalPrice" placeholder="$"
                 type="number"></app-input>
    </div>
  </div>

</div>


<div class="modal-footer">
  <button type="button" class="btn btn-primary"
          (click)="add(name.value, value.value, quantity.value, additionalPrice.value )">save attribute
  </button>
</div>
