<div class="order">
  <div class="order-detail">
    <div class="order-detail-header">Buyer Details</div>
    <div class="order-detail-address">
      <i class="far fa-user"> {{content.customerName}} </i>

    </div>
    <div class="order-detail-addres-detail">
      <p>{{addressContent?.name}}</p>
      <p *ngIf="addressContent != null">{{addressContent?.city}}, {{addressContent?.country}}
        , {{addressContent?.streetName}},
        {{addressContent?.unitNumber}}, {{addressContent?.postalCode}}, {{addressContent?.detail}}
      </p>
      <p *ngIf="addressContent == null"></p>

      <button (click)="addAddress()" class="add-button btn">Add Address</button>

    </div>
  </div>

  <div *ngFor="let item of content.orderMerchantGroups">
    <app-order-item (selectShipment)="getShipment($event)" [addressContents]="addressContents"
                    [item]="item"></app-order-item>
  </div>

  <span *ngIf="errorMessage" style="color:red">{{errorMessage}}</span>
  <div>
    <app-payment (selectPayment)="getPayment($event)" *ngIf="content.orderMerchantGroups.length > 0 "
                 [orderContent]="content" [shipmentCost]="shipmentCost"></app-payment>
    <button (click)="createOrder()" class="add-button button-create">Create Order</button>
  </div>

</div>
