.order {
  margin-left: 5%;
  margin-right: 5%;

  &-detail {
    background-color: rgb(252, 252, 252);
    margin-top: 20px;
    box-shadow: 3px 3px rgb(245, 245, 245);
    width: 55%;

    &-header {
      background-color: rgb(248, 248, 248);
      padding: 20px;
      border-bottom: 1px solid rgb(230, 230, 230);
      font-family: Myriad-Bold;
    }

    &-address {
      border: 1px solid rgb(230, 230, 230);
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    &-addres-detail {
      border: 1px solid rgb(230, 230, 230);
      padding: 20px;
      line-height: 25px;
      margin-left: 20px;
      margin-right: 20px;
    }

  }
}

.checkbox-dropshipper {
  padding: 20px;
}

select {
  width: 30%;
}

.change-address {
  margin-top: 20px;
}

.button-create {
  line-height: 40px;
  width: 130px;
  position: absolute;
  right: 19%;
  top: 550px;
}

app-payment {
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .order {
    display: flex;
    flex-direction: column;

    &-detail {
      width: 100%;
    }
  }

  .button-create {
    position: relative;
    left: 35%;
    top: 0px;
  }
}
