<div class="radio-wrapper">
  <div *ngFor="let item of items">
    <input (click)="handleRadioClick(item.value)" [name]="name" [value]="item.value" class="radio"
           type="radio"> {{ item.text }}
  </div>
</div>
<div class="field-error">
  {{ errorMessage }}
</div>
